<a href="https://colab.research.google.com/github/Ayanlola2002/DATA-SCIENCE-PROJECTS/blob/master/Dphi_Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
import pandas as pd
import numpy as np
insurance_data = pd.read_csv("https://github.com/dphi-official/Datasets/blob/master/travel_insurance/Training_set_label.csv?raw=true")

In [48]:
insurance_data

      Agency    Agency Type Distribution Channel  ... Gender  Age Claim
0        CWT  Travel Agency               Online  ...    NaN   29     0
1        EPX  Travel Agency               Online  ...    NaN   36     0
2        EPX  Travel Agency               Online  ...    NaN   25     0
3        C2B       Airlines               Online  ...      M   24     0
4        EPX  Travel Agency               Online  ...    NaN   23     0
...      ...            ...                  ...  ...    ...  ...   ...
48255    EPX  Travel Agency               Online  ...    NaN   36     0
48256    C2B       Airlines               Online  ...      F   30     0
48257    CWT  Travel Agency               Online  ...    NaN   43     0
48258    EPX  Travel Agency               Online  ...    NaN   61     0
48259    EPX  Travel Agency               Online  ...    NaN   29     0

[48260 rows x 11 columns]

In [49]:
insurance_data.isnull().sum()

Agency                      0
Agency Type                 0
Distribution Channel        0
Product Name                0
Duration                    0
Destination                 0
Net Sales                   0
Commision (in value)        0
Gender                  34361
Age                         0
Claim                       0
dtype: int64

In [50]:
insurance_data.skew()

Duration                23.740607
Net Sales                3.309878
Commision (in value)     3.987816
Age                      2.996550
Claim                    8.073585
dtype: float64

In [51]:
insurance_data.describe()

           Duration     Net Sales  ...           Age         Claim
count  48260.000000  48260.000000  ...  48260.000000  48260.000000
mean      49.546602     40.747647  ...     39.927269      0.014671
std      104.828147     48.823217  ...     14.027329      0.120231
min       -2.000000   -389.000000  ...      0.000000      0.000000
25%        9.000000     18.000000  ...     35.000000      0.000000
50%       22.000000     27.000000  ...     36.000000      0.000000
75%       53.000000     48.000000  ...     43.000000      0.000000
max     4881.000000    666.000000  ...    118.000000      1.000000

[8 rows x 5 columns]

In [52]:
s=insurance_data.iloc[:, (np.where((insurance_data.dtypes == np.int64) | (insurance_data.dtypes == np.float64)))[0]].columns

In [53]:
insurance_data[insurance_data.Claim==1].Gender.value_counts()

F    255
M    228
Name: Gender, dtype: int64

In [54]:
#fill missing values in gender columns with Not Specified
insurance_data['Gender'].fillna("Not Specified",inplace=True)

In [55]:
insurance_data.drop(['Distribution Channel','Destination','Agency Type',],axis=1,inplace=True)

In [56]:
insurance_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48260 entries, 0 to 48259
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Agency                48260 non-null  object
 1   Product Name          48260 non-null  object
 2   Duration              48260 non-null  int64
 3   Net Sales             48260 non-null  float64
 4   Commision (in value)  48260 non-null  float64
 5   Gender                48260 non-null  object
 6   Age                   48260 non-null  int64
 7   Claim                 48260 non-null  int64
dtypes: float64(2), int64(3), object(3)
memory usage: 2.9+ MB

In [57]:
qualitative = [f for f in insurance_data.columns if insurance_data.dtypes[f] == 'object']

In [58]:
qualitative

['Agency', 'Product Name', 'Gender']

In [59]:
#one hot encoding
#LabelEncoder
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for column in qualitative:
  insurance_data[column] = le.fit_transform(insurance_data[column])

In [60]:
insurance_data.head()

   Agency  Product Name  Duration  ...  Gender  Age  Claim
0       6            16        61  ...       2   29      0
1       7            10        93  ...       2   36      0
2       7             1        22  ...       2   25      0
3       2            17        14  ...       1   24      0
4       7            10        90  ...       2   23      0

[5 rows x 8 columns]

In [61]:
#save and drop the target varriable
y=insurance_data['Claim']

In [62]:
#dropping the target varriable
insurance_data.drop('Claim',axis=1,inplace=True)

In [63]:
X=insurance_data.copy()

In [64]:
#Splitting data into train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [65]:
#dealing with imbalance problem using smote 
from imblearn.over_sampling import SMOTE

sm = SMOTE(random_state = 25, sampling_strategy = 1.0)

In [66]:
# fit the sampling
X_train, y_train = sm.fit_sample(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [67]:
#Buiding the Model
# import Logistic Regression from sklearn.linear_model
from sklearn.linear_model import LogisticRegression

In [68]:
log_model = LogisticRegression()

In [69]:

# Fit the model
log_model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [70]:
predictions = log_model.predict(X_test)

In [71]:
#getting the accuracy score
from sklearn.metrics import accuracy_score,f1_score
accuracy_score(y_test, predictions)

0.8464566929133859

In [72]:
#F1 Score
f1_score(y_test, predictions)

0.09744214372716199

In [75]:
#decision tree
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(random_state=1)

In [76]:
dt.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=1, splitter='best')

In [77]:
#Predictions on the Test data
predictions_dt = dt.predict(X_test)

In [78]:
accuracy_score(y_test, predictions_dt)

0.9600773587512087

In [79]:
f1_score(y_test, predictions_dt)

0.06168831168831169

In [81]:
#Random Forest
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(random_state=1)

In [82]:
forest.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=1, verbose=0,
                       warm_start=False)

In [83]:
predictions_forest=forest.predict(X_test)

In [84]:
accuracy_score(y_test, predictions_forest)

0.9716811714325183

In [85]:
f1_score(y_test, predictions_forest)

0.05963302752293578

In [86]:
#gridsearchCv forest 
rf = RandomForestClassifier(random_state = 1)

In [87]:
from sklearn.model_selection import GridSearchCV
param_grid = {
    'bootstrap': [True],
    'max_depth': [10, 20],
    'min_samples_leaf': [3, 4],
    'min_samples_split': [4, 6],
    'n_estimators': [100, 200]
}

In [88]:
# Grid search cv
grid_search_1 = GridSearchCV(estimator = rf, param_grid = param_grid, cv = 3, n_jobs = -1, verbose = 2)

In [89]:
grid_search_1.fit(X_train, y_train)

Fitting 3 folds for each of 16 candidates, totalling 48 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed:  3.1min
[Parallel(n_jobs=-1)]: Done  48 out of  48 | elapsed:  4.1min finished

GridSearchCV(cv=3, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=100, n_jobs=None,
                                              oob_score=False, random_state=1,
                                              verbose=0, warm_start=False),
             iid='deprecated', n_jobs=-1,
             param_grid={'bootstrap': [True], 'max_depth': [10, 20],
                         'min_samples_leaf': [3, 4],
                         'min_samples_split': [4, 6],
                         'n_estimators': [100, 200]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=2)

In [90]:
grid_search_1.best_params_

{'bootstrap': True,
 'max_depth': 20,
 'min_samples_leaf': 3,
 'min_samples_split': 4,
 'n_estimators': 200}

In [91]:
predictions_forest_gs=grid_search_1.predict(X_test)

In [92]:
accuracy_score(y_test,predictions_forest_gs)

0.9583506009117282

In [93]:
f1_score(y_test,predictions_forest_gs)

0.07656967840735068

In [ ]:
rf = RandomForestClassifier(random_state = 1)

In [ ]:
from sklearn.model_selection import GridSearchCV
param_grid = {
    'bootstrap': [True],
    'max_depth': [10, 20],
    'min_samples_leaf': [3, 4],
    'min_samples_split': [4, 6],
    'n_estimators': [100, 200]
}

In [ ]:
# Grid search cv
grid_search_1 = GridSearchCV(estimator = rf, param_grid = param_grid, cv = 3, n_jobs = -1, verbose = 2)

In [ ]:
grid_search_1.fit(X_train, y_train)

In [ ]:
grid_search_1.best_params_

In [ ]:
predictions_forest_gs=grid_search_1.predict(X_test)

In [ ]:
accuracy_score(y_test,predictions_forest_gs)

In [ ]:
f1_score(y_test,predictions_forest_gs)