<a href="https://colab.research.google.com/github/Ayanlola2002/DATA-SCIENCE-PROJECTS/blob/master/Janata_TimeSeries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [132]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd
import numpy as np

In [0]:
train=pd.read_csv('/content/drive/My Drive/Analytic_VidYah/train_6BJx641.csv')
test=pd.read_csv('/content/drive/My Drive/Analytic_VidYah/test_pavJagI.csv')

In [135]:
print(train.shape)
print(test.shape)

(26496, 8)
(8568, 7)

In [0]:
#storing the order Id column  and predictor column
id=test['ID']
y_train=train.iloc[:,-1]

In [137]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26496 entries, 0 to 26495
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       26496 non-null  int64
 1   datetime                 26496 non-null  object
 2   temperature              26496 non-null  float64
 3   var1                     26496 non-null  float64
 4   pressure                 26496 non-null  float64
 5   windspeed                26496 non-null  float64
 6   var2                     26496 non-null  object
 7   electricity_consumption  26496 non-null  float64
dtypes: float64(5), int64(1), object(2)
memory usage: 1.6+ MB

In [0]:
#temperature can be converted to fareiheiht to change values of temp to negative
#extract month,year,day,hours from the datetime
#can pressure and windspeed be grouped ?if so grouped them into categories high,low etc
train=train.drop('electricity_consumption',axis=1)

In [139]:
train.isnull().sum()

ID             0
datetime       0
temperature    0
var1           0
pressure       0
windspeed      0
var2           0
dtype: int64

In [140]:
test.isnull().sum()

ID             0
datetime       0
temperature    0
var1           0
pressure       0
windspeed      0
var2           0
dtype: int64

In [141]:
train['var1'].value_counts()

 10.0    836
 8.6     809
 10.7    797
 7.9     779
 9.3     770
        ...
-29.3      3
 17.9      2
-32.9      1
 18.6      1
-32.1      1
Name: var1, Length: 71, dtype: int64

In [142]:
#This is ok,label encoding
train['var2'].value_counts()

A    25239
C     1040
B      217
Name: var2, dtype: int64

In [0]:
#extracting date part
#dropped datetime
train['exact_month']=pd.to_datetime(train['datetime'],format='%Y/%m/%d %H:%M:%S').dt.month
train['exact_year']=pd.to_datetime(train['datetime'],format='%Y/%m/%d %H:%M:%S').dt.year
train['exact_day']=pd.to_datetime(train['datetime'],format='%Y/%m/%d %H:%M:%S').dt.day
train['exact_hour']=pd.to_datetime(train['datetime'],format='%Y/%m/%d %H:%M:%S').dt.hour

In [0]:
#extracting date part for test
#dropped datetime
test['exact_month']=pd.to_datetime(test['datetime'],format='%Y/%m/%d %H:%M:%S').dt.month
test['exact_year']=pd.to_datetime(test['datetime'],format='%Y/%m/%d %H:%M:%S').dt.year
test['exact_day']=pd.to_datetime(test['datetime'],format='%Y/%m/%d %H:%M:%S').dt.day
test['exact_hour']=pd.to_datetime(test['datetime'],format='%Y/%m/%d %H:%M:%S').dt.hour

In [0]:
#convert temperature to kelvin
#dropped temperature
train['kelvin']=train['temperature']+273.15

In [0]:
#convert temperature to kelvin
#dropped temperature
test['kelvin']=test['temperature']+273.15

In [147]:
train['kelvin']

0        261.75
1        261.05
2        260.25
3        261.75
4        261.75
          ...
26491    272.45
26492    270.25
26493    271.75
26494    270.25
26495    271.05
Name: kelvin, Length: 26496, dtype: float64

In [0]:
train['var1']=train['var1']+100

In [0]:
test['var1']=test['var1']+100

In [0]:
train=train.drop(['temperature','datetime'],axis=1)

In [0]:
test=test.drop(['temperature','datetime'],axis=1)

In [152]:
train.head()

   ID  var1  pressure  windspeed  ... exact_year  exact_day  exact_hour  kelvin
0   0  82.9    1003.0    571.910  ...       2013          1           0  261.75
1   1  80.7     996.0    575.040  ...       2013          1           1  261.05
2   2  80.0    1000.0    578.435  ...       2013          1           2  260.25
3   3  82.9     995.0    582.580  ...       2013          1           3  261.75
4   4  80.7    1005.0    586.600  ...       2013          1           4  261.75

[5 rows x 10 columns]

In [153]:
test.head()

    ID  var1  pressure  windspeed  ... exact_year  exact_day  exact_hour  kelvin
0  552  83.6    1011.0    263.280  ...       2013         24           0  263.15
1  553  79.3    1011.0    267.175  ...       2013         24           1  263.15
2  554  82.9    1003.0    269.555  ...       2013         24           2  262.45
3  555  79.3    1008.0    273.060  ...       2013         24           3  259.55
4  556  82.9    1006.0      1.765  ...       2013         24           4  262.45

[5 rows x 10 columns]

In [0]:
#remove id
train=train.drop(['ID'],axis=1)
test=test.drop(['ID'],axis=1)

In [0]:
# Concatenating train + test= all_data
all_data=pd.concat((train,test)).reset_index(drop=True)

In [156]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   var1         35064 non-null  float64
 1   pressure     35064 non-null  float64
 2   windspeed    35064 non-null  float64
 3   var2         35064 non-null  object
 4   exact_month  35064 non-null  int64
 5   exact_year   35064 non-null  int64
 6   exact_day    35064 non-null  int64
 7   exact_hour   35064 non-null  int64
 8   kelvin       35064 non-null  float64
dtypes: float64(4), int64(4), object(1)
memory usage: 2.4+ MB

In [157]:
#extracting Object datatype
all_data.select_dtypes(include=['object']).dtypes

var2    object
dtype: object

In [0]:
c=('var2')
cat_list=list(c)

In [0]:
#LabelEncoder
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

all_data['var2'] = le.fit_transform(all_data['var2'])
#test['var2'] = le.fit_transform(test['var2'])
all_data.drop(['var2'],axis=1,inplace=True)

#test.drop(['var2'],axis=1,inplace=True)

In [0]:
# Numerical_cols= all_data.columns-CategoricalColumns
numeric_col=[]
for col in all_data.columns:
    if(col not in cat_list):
        numeric_col.append(col)

In [0]:
skew=all_data[numeric_col].skew()

In [162]:
print(skew)

var1          -0.155565
pressure       0.047492
windspeed      4.455650
exact_month   -0.009294
exact_year    -0.000188
exact_day      0.006760
exact_hour     0.000000
kelvin        -0.179994
dtype: float64

In [163]:
skew=skew[abs(skew) > 0.75]
print(len(skew))

1

In [0]:
from scipy.special import boxcox1p
lam=0.15
for i in skew.index:
    all_data[i]=np.log1p(all_data[i])

In [0]:
#Normalizing NUMERICAL_COLUMNS to be between [0,1]
########### NORMALIZING NUMERIC FEATURES ####################
for col in numeric_col:
    m=np.mean(all_data[col])
    ma=np.max(all_data[col])
    mi=np.min(all_data[col])
    all_data[col]=(all_data[col]-m)/(ma-mi)

In [166]:
all_data=pd.get_dummies(all_data)
print(np.shape(all_data))

(35064, 8)

In [0]:
q=np.shape(y_train)[0]
train=all_data[:q]
test=all_data[q:]

In [168]:
print(np.shape(train),np.shape(test))

(26496, 8) (8568, 8)

In [169]:
print(len(test.columns),len(train.columns))

8 8

In [0]:
from sklearn.model_selection import train_test_split
xtrain, xval, ytrain, yval = train_test_split(train, y_train, test_size=0.33,
                                                      random_state=0)

In [172]:
print('''XTRAIN {}   
XVAL{}   
XTEST{}'''.format(np.shape(xtrain),np.shape(xval),np.shape(test)))

XTRAIN (17752, 8)
XVAL(8744, 8)
XTEST(8568, 8)

In [0]:
from sklearn.model_selection import cross_val_score

In [0]:

from sklearn.model_selection import KFold, cross_val_score
n_folds = 5 # number of folds
def get_cv_scores(model, X, y, print_scores=True):
    kf = KFold(n_folds, shuffle=True, random_state=42).get_n_splits(X) # create folds
    rmse = np.sqrt(-cross_val_score(model, X, y, scoring="neg_mean_squared_error", cv = kf)) # get rmse
    if print_scores:
        print(f'Root mean squared error: {rmse.mean():.3f} ({rmse.std():.3f})')
    return [rmse]

In [0]:
from xgboost import XGBRegressor,XGBRFRegressor
from lightgbm import LGBMRegressor
from sklearn.kernel_ridge import KernelRidge
from sklearn.ensemble import RandomForestRegressor,  GradientBoostingRegressor
import lightgbm as lgb
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import ElasticNet,BayesianRidge
from sklearn.preprocessing import RobustScaler
model_enet = make_pipeline(RobustScaler(), ElasticNet(alpha=0.0005, l1_ratio=.9, random_state=3))

In [0]:

model_lgb = lgb.LGBMRegressor(objective='regression',num_leaves=5,
                              learning_rate=0.03, n_estimators=720,
                              max_bin = 55, bagging_fraction = 0.8,
                              bagging_freq = 5, feature_fraction = 0.2319,
                              feature_fraction_seed=9, bagging_seed=9,
                              min_data_in_leaf =6, min_sum_hessian_in_leaf = 11)

In [0]:

model_gboost = GradientBoostingRegressor(n_estimators=3000, learning_rate=0.05,
                                   max_depth=4, max_features='sqrt',
                                   min_samples_leaf=15, min_samples_split=10, 
                                   loss='huber', random_state =5)

In [0]:
model_krr = KernelRidge(alpha=0.6, kernel='polynomial', degree=2, coef0=2.5)

In [0]:
#XGBOOST
model_xgb=XGBRegressor(n_estimators=2200,learning_rate=0.05)
#model.fit(xtrain,ytrain)#,early_stopping_rounds=5,eval_set=[(xval,yval)],verbose=False)

In [183]:
#previous 1000
#scores=-1 * cross_val_score(XGBRegressor(n_estimators=2200,learning_rate=0.05),xtrain,ytrain,cv=5,scoring="neg_mean_absolute_error")
for model in [model_enet,model_lgb,model_gboost,model_krr,model_xgb]:
    get_cv_scores(model,xtrain, ytrain)

Root mean squared error: 94.600 (4.435)
Root mean squared error: 91.546 (4.380)
Root mean squared error: 69.177 (4.207)
Root mean squared error: 90.708 (4.348)
[14:08:12] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[14:08:24] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[14:08:37] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[14:08:49] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[14:09:01] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
Root mean squared error: 71.528 (3.672)

In [0]:
#using Averaging Ensembling
from sklearn.base import BaseEstimator
from sklearn.base import RegressorMixin
from sklearn.base import TransformerMixin
from sklearn.base import clone
class AveragedModels(BaseEstimator, RegressorMixin, TransformerMixin):
    def __init__(self, models):
        self.models = models
        
    def fit(self, X, y):
        self.models_ = [clone(x) for x in self.models]
        
        # Train cloned base models
        for model in self.models_:
            model.fit(X, y)
        return self
    
    def predict(self, X):
        predictions = np.column_stack([
            model.predict(X) for model in self.models_
        ])
        return np.mean(predictions, axis=1)

In [185]:

%%time
averaged_model = AveragedModels([model_enet,model_lgb,model_gboost,model_krr,model_xgb])
get_cv_scores(averaged_model,xtrain, ytrain)
averaged_model.fit(xtrain,ytrain)
AV_y_pred = averaged_model.predict(test)

[14:11:43] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[14:13:08] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[14:14:32] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[14:16:00] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[14:17:25] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
Root mean squared error: 78.776 (4.543)
[14:19:28] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
CPU times: user 12min 28s, sys: 16.9 s, total: 12min 45s
Wall time: 9min 13s

In [0]:
AV_y_pred=np.expm1(AV_y_pred)

In [0]:
output = pd.DataFrame({'ID': id,'electricity_consumption': AV_y_pred})
output.to_csv('submission.csv', index=False)

In [191]:
output.head()

    ID  electricity_consumption
0  552               235.744687
1  553               261.254251
2  554               247.976540
3  555               271.902938
4  556               331.026177

In [0]:
"""
# applying standard scaling

from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
train = sc.fit_transform(train)
test = sc.transform(test)
"""