<a href="https://colab.research.google.com/github/Ayanlola2002/DATA-SCIENCE-PROJECTS/blob/master/NeedEnergyAPI_Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [86]:
#mounting Gdrive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [87]:
import pandas as pd
import numpy as np
from datetime import date, datetime
import holidays

In [88]:
df_5min=pd.read_csv('/content/drive/MyDrive/NEEDENERGY/data_five_min_id_47803.csv')
df_hourly=pd.read_csv('/content/drive/MyDrive/NEEDENERGY/data_hourly_id_47803.csv')
df_daily=pd.read_csv('/content/drive/MyDrive/NEEDENERGY/data_daily_id_47803.csv')
df_monthly=pd.read_csv('/content/drive/MyDrive/NEEDENERGY/data_monthly_id_47803.csv')
df_public_holiday=pd.read_csv('/content/drive/MyDrive/NEEDENERGY/public_holidays_weekends_ZIM.csv')

In [89]:
##Wrangling Helper Functions to Use
"""
This function do the reading of data file from file path(i.e drive)
"""
def do_read_data(datafile, dateCol):
    ''' Read the excel file'''
    df = pd.read_excel(datafile, index_col= dateCol, parse_dates=True)
    return df

"""
This function Shows Information of the Data file
Like The Header columns, Dimension of Data
"""

def do_data_information(datafile, info = False, head = True, shape = True):
    ''' Look at the info of the data'''
    
    if not isinstance(datafile, pd.DataFrame):
        df = read_data(datafile)
    else:
        df = datafile
    
    ## Information of data
    if info:
        df.info()
        
    print('--------------------------------------------------------------------')
    print('First rows')
    # Show first rows
    if head:
        print(df.head())
        
    print('--------------------------------------------------------------------')
    print('Dimension of the data')
    ## Dimension of data
    if shape:
        print(f'This data has {df.shape[0]} rows and {df.shape[1]} variables') 
        
###This function returns the number of distinct values from any columns       
def do_unique_values(df, col):
    ''' Find the unique values of a columns'''
    return df[col].nunique()


###This function statistically describe the data values
def do_description(df, col = None):
    ''' Give the statistic summary'''
    
    ## Summary statistic
    if col is not None:
        stat = df[col].describe()
    else:
        stat = df.describe()

    ## Change the name of the 50% index to median
    idx = stat.index.tolist()
    idx[5] = 'median'
    stat.index = idx
    return stat

###This function finds % Missing values
def check_missing_value(data):
    ## percentage of missing values
    n = data.isnull().sum().sort_values(ascending=False)/ len(data) * 100
    return n

def check_missing_values_table(df):
  mis_val = df.isnull().sum()
  mis_val_percent = 100 * df.isnull().sum() / len(df)
  mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
  mis_val_table_ren_columns = mis_val_table.rename(
  columns = {0 : 'Missing Values', 1 : '% of Total Values'})
  mis_val_table_ren_columns = mis_val_table_ren_columns[
      mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
  '% of Total Values', ascending=False).round(1)
  print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
      "There are " + str(mis_val_table_ren_columns.shape[0]) +
        " columns that have missing values.")
  return mis_val_table_ren_columns


###This function finds the amount of each values in a dataset
def do_valueCount(data, col, perc = False):
    ''' calculate the proportion in fraction or percentage'''
    if not perc:
      return data[col].value_counts()
    else:
      return data[col].value_counts(normalize = True).mul(100).round(1).astype(str) + '%'    
### This function count number of unique values for all columns in a dataset
def do_nunique_value(df):
  print('The Numver of unique values per columns are as follows')
  print(df.agg(['nunique']).T)


###For date time conversion start here   
def do_date_col_convertion(df, column_name):
  df[column_name]=pd.to_datetime(df[column_name])
  return df[column_name]

def do_time_col_convertion(df, column_name):
    return pd.to_timedelta(df[column_name])


def do_datepart_extraction(data):
  data['date'] = pd.to_datetime(data['date'])
  data['dateOnly']=data['date'].dt.date
  data['year'] = data['date'].dt.year
  data['quarter']=data['date'].dt.quarter
  data['month'] = data['date'].dt.month
  data['weekday'] = data['date'].dt.weekday
  data['day_name'] = data['date'].dt.day_name()
  data['dayofyear'] = data['date'].dt.dayofyear
  data['day'] =data['date'].dt.day
  data['hour'] = data['date'].dt.hour
  data['minute'] =data['date'].dt.minute
  #data['Season']=data['month'].apply(do_year_season)
  data['season'] = data.date.map(do_season_of_date)
  data['day_section']=data['hour'].apply(do_day_sections)
  return data
   

def do_season_of_date(date):
  year = str(date.year)
  seasons = {'spring': pd.date_range(start='21/03/'+year, end='20/06/'+year),
              'summer': pd.date_range(start='21/06/'+year, end='22/09/'+year),
              'autumn': pd.date_range(start='23/09/'+year, end='20/12/'+year)}
  if date in seasons['spring']:
    return 'spring'
  if date in seasons['summer']:
    return 'summer'
  if date in seasons['autumn']:
    return 'autumn'
  else:
    return 'winter'

# Assuming df has a date column of type `datetime`
#df['season'] = df.date.map(season_of_date)


def do_day_sections(x):
  if (x > 4) and (x <= 8):
    return 'Early Morning'
  elif (x > 8) and (x <= 12 ):
    return 'Morning'
  elif (x > 12) and (x <= 16):
    return'Noon'
  elif (x > 16) and (x <= 20) :
    return 'Evening'
  elif (x > 20) and (x <= 24):
    return'Night'
  elif (x <= 4):
    return'Late Night'




def get_holidays(startYear = 2018, endYear = 2025, countryCode = 'ZA'):
  """
    Takes in a start and end date, and start and end year.
    
    Produces a dataframe with a daily date and columns:
    holiday - 'Y' for holiday
    holidayName - name of the holiday if holiday is 'Y'
    
    Returns a dataframe
  """
  holidayDict = {}
  for i in range(startYear, endYear):
    for date, name in sorted(holidays.CountryHoliday(countryCode,years=[i]).items()):
      holidayDict[date] = name
      holiday_df = pd.DataFrame(list(holidayDict.items()),columns = ['day','holidayName'])
      holiday_df['day'] = pd.to_datetime(holiday_df['day'], format='%Y-%M-%d').dt.date
    return holiday_df
    

    
def get_days(start = '1/1/2018',startYear = 2018, end = '31/12/2025',endYear = 2025, countryCode = 'ZA'):
    """
    Takes in a start and end date, and start and end year.
    
    Produces a dataframe with a daily date and columns:
    weekend - 'Y' for weendend and 'N' for workday
    dayOfweek - numerical day of the week identifier 0 for monday
    weekNum - numerical number of the week 
    holiday - 'Y' for holiday
    holidayName - name of the holiday if holiday is 'Y'
    
    Returns a dataframe
    """
    
    #generate the range of daily dates
    dates = pd.date_range(start = start, end = end)
    date_df = pd.DataFrame(dates, columns = ['day'])
    date_df['day'] = pd.to_datetime(date_df['day'], format='%Y-%M-%d')
    country_holidays = get_holidays(startYear = startYear, endYear = endYear, countryCode = countryCode)
    
    date_df['dayName'] = pd.DatetimeIndex(date_df['day']).day_name()
    date_df['dayOfWeek'] = date_df['day'].dt.dayofweek
    date_df['weekend'] = date_df['dayOfWeek'].apply(lambda x: 'Y' if x>4 else 'N')
    date_df['weekNum'] = date_df['day'].dt.week
    date_df['holiday'] = date_df['day'].apply(lambda x: 'Y' if x in country_holidays['day'].values else 'N')
    date_df['day'] = date_df['day'].dt.date
    date_df = date_df.merge(country_holidays, on='day', how='left', indicator=False)
    
    date_df.to_csv(f'../data/public_holidays_weekends.csv', index=False)
    return date_df

###Functions to impute nan values for numerical varriable
def Impute_nan(df):
  numericalcol = [f for f in df_5min.columns if df_5min.dtypes[f] != 'object']
  missing_col=df_5min[numericalcol].columns[df_5min[numericalcol].isnull().any()].tolist()
  #Technique 1: Using mean to impute the missing values
  for i in missing_col:
    df.loc[df.loc[:,i].isnull(),i]=df.loc[:,i].mean()

def Impute_na(df):
  numericalcol = [f for f in df_5min.columns if df_5min.dtypes[f] != 'object']
  missing_col=df_5min[numericalcol].columns[df_5min[numericalcol].isnull().any()].tolist()
  #Technique 1: Using mean to impute the missing values
  for i in missing_col:
     df[i].fillna(mean,inplace=True)


dataList=[df_5min,df_hourly,df_daily,df_monthly]

def do_wrangling_task(dL):
  for i in range(len(dL)):
    print(do_data_information(dL[i]))
    print('===============================================')
    print(check_missing_values_table(dL[i]))
    print('===============================================')
    print(do_nunique_value(dL[i]))
    print('===============================================')
    #Feature Engineering
    dL[i]=do_datepart_extraction(dL[i])
    print('===============================================')
    dL[i].date.min(),dL[i].date.max()
    print('===============================================')
    dL[i].consumption.min(),dL[i].consumption.max()
    print('===============================================')
    #checking for days where there weere no consumptions
    dL[i][dL[i].consumption==0].value_counts().count(),dL[i][dL[i].consumption==0].value_counts()
    print('===============================================')
    dL[i]['Public_Holiday'] = dL[i]['dateOnly'].map(mapping)
    print('===============================================')
    dL[i]['Public_Holiday']=dL[i]['Public_Holiday'].apply(lambda x:np.NaN if isinstance(x, str) and (x.isspace() or not x) else x).replace(np.NaN,'Non_Holiday')
    print('===============================================')
    dL[i]=dL[i][['date','timestamp','year','quarter','month','dayofyear','day','day_name','hour','minute','season','day_section','Public_Holiday','consumption','solar','alwaysOn','gridImport','gridExport','selfConsumption','selfSufficiency','active','reactive','voltages','phaseVoltages','currentHarmonics','voltageHarmonics']]
    print('===============================================')
    print('===============================================')



#df['holidays']=df['date'].apply(lambda(x: 'Hols' if x in get_holidays()['day'].values else 'Non-Hols'))

In [91]:
#Data Description and Information for df_5min
print(do_data_information(df_5min))
print(do_data_information(df_monthly))
print(do_data_information(df_public_holiday))

--------------------------------------------------------------------
First rows
                  date  ...                                   voltageHarmonics
0  2020-03-15 18:15:00  ...  [[], [], [], [], [], [], [], [], [], [], [], [...
1  2020-03-15 18:20:00  ...  [[], [], [], [], [], [], [], [], [], [], [], [...
2  2020-03-15 18:25:00  ...  [[], [], [], [], [], [], [], [], [], [], [], [...
3  2020-03-15 18:30:00  ...  [[], [], [], [], [], [], [], [], [], [], [], [...
4  2020-03-15 18:35:00  ...  [[], [], [], [], [], [], [], [], [], [], [], [...

[5 rows x 15 columns]
--------------------------------------------------------------------
Dimension of the data
This data has 95649 rows and 15 variables
None
--------------------------------------------------------------------
First rows
         date  ...                                   voltageHarmonics
0  2020-03-01  ...  [[], [], [], [], [], [], [], [], [], [], [], [...
1  2020-04-01  ...  [[], [], [], [], [], [], [], [], [], [], [], [...
2  2020-05-01  ...  [[], [], [], [], [], [], [], [], [], [], [], [...
3  2020-06-01  ...  [[], [], [], [], [], [], [], [], [], [], [], [...
4  2020-07-01  ...  [[], [], [], [], [], [], [], [], [], [], [], [...

[5 rows x 15 columns]
--------------------------------------------------------------------
Dimension of the data
This data has 12 rows and 15 variables
None
--------------------------------------------------------------------
First rows
          day    dayName  dayOfWeek weekend  weekNumber holiday     holidayName
0  2018/01/01     Monday          0       N           1       Y  New Year's Day
1  2018/01/02    Tuesday          1       N           1       N
2  2018/01/03  Wednesday          2       N           1       N
3  2018/01/04   Thursday          3       N           1       N
4  2018/01/05     Friday          4       N           1       N
--------------------------------------------------------------------
Dimension of the data
This data has 2558 rows and 7 variables
None

Data Quality Information:
df_5min : The data has 95649 rows and 15 features

In [92]:
#Checking Missing Values by percentage
print(check_missing_values_table(df_5min))
print(check_missing_values_table(df_public_holiday))

Your selected dataframe has 15 columns.
There are 0 columns that have missing values.
Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []
Your selected dataframe has 7 columns.
There are 0 columns that have missing values.
Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [94]:
#Checking number of Unique values
print(do_nunique_value(df_5min))
print('======================================')
print(do_nunique_value(df_public_holiday))

The Numver of unique values per columns are as follows
                  nunique
date                95649
timestamp           95649
consumption         76377
solar               50268
alwaysOn              955
gridImport          66188
gridExport              1
selfConsumption         2
selfSufficiency      5594
active              95512
reactive            95595
voltages              389
phaseVoltages         389
currentHarmonics        1
voltageHarmonics        1
None
======================================
The Numver of unique values per columns are as follows
             nunique
day             2558
dayName            7
dayOfWeek          7
weekend            2
weekNumber        53
holiday            2
holidayName       24
None

In [95]:
#Feature Engineering
#extracting date part
df_5min=do_datepart_extraction(df_5min)

In [96]:
df_5min.head()

                 date      timestamp  consumption  ...  minute  season  day_section
0 2020-03-15 18:15:00  1584288900000          0.0  ...      15  winter      Evening
1 2020-03-15 18:20:00  1584289200000          0.0  ...      20  winter      Evening
2 2020-03-15 18:25:00  1584289500000          0.0  ...      25  winter      Evening
3 2020-03-15 18:30:00  1584289800000          0.0  ...      30  winter      Evening
4 2020-03-15 18:35:00  1584290100000          0.0  ...      35  winter      Evening

[5 rows x 27 columns]

In [97]:
#showing min and maximm date column values
df_5min.date.min(),df_5min.date.max()

(Timestamp('2020-03-15 18:15:00'), Timestamp('2021-02-12 01:55:00'))

In [98]:
#showing consumption min and max values
df_5min.consumption.min(),df_5min.consumption.max()

(0.0, 939.27)

In [99]:
#checking for date where  consumptions = 0
df_5min[df_5min.consumption==0].value_counts().count(),df_5min[df_5min.consumption==0].value_counts()

(11,
 date                 timestamp      consumption  solar  alwaysOn  gridImport  gridExport  selfConsumption  selfSufficiency  active                                                                                                                                                                       reactive                                                                                                                                                              voltages             phaseVoltages        currentHarmonics                                                                                                  voltageHarmonics                                                                                                  dateOnly    year  quarter  month  weekday  day_name  dayofyear  day  hour  minute  season  day_section
 2020-03-15 19:05:00  1584291900000  0.0          0.0    0.0       0.0         0.0         0.0              0.0              [0.1, 20.2, 0.0, 35.8, 0.0, 46.9, 232.8, 0.3, None, 0.1, 3.7, -0.1, 28.2, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]          [0.5, 1.9, 0.0, 131.0, 0.0, 12.9, 135.4, 0.2, None, 0.0, 0.9, 0.0, 36.9, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]    [246.3, None, None]  [246.3, None, None]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  2020-03-15  2020  1        3      6        Sunday    75         15   19    5       winter  Evening        1
 2020-03-15 19:00:00  1584291600000  0.0          0.0    0.0       0.0         0.0         0.0              0.0              [0.1, 8.7, 0.0, 36.8, 0.0, 35.6, 232.7, 0.3, None, 0.1, 3.7, -0.1, 28.6, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]           [0.5, 1.5, 0.0, 131.0, 0.0, 13.5, 143.2, 0.2, None, 0.0, 0.9, 0.0, 37.1, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]    [245.5, None, None]  [245.5, None, None]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  2020-03-15  2020  1        3      6        Sunday    75         15   19    0       winter  Evening        1
 2020-03-15 18:55:00  1584291300000  0.0          0.0    0.0       0.0         0.0         0.0              0.0              [0.1, 3.7, 0.0, 49.0, 29.9, 30.6, 235.2, 0.3, None, 0.1, 3.7, -0.1, 33.2, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]          [0.5, 0.9, 0.0, 60.9, 98.5, 13.7, 147.4, 0.2, None, 0.0, 0.9, 0.0, 40.9, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]    [245.5, None, None]  [245.5, None, None]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  2020-03-15  2020  1        3      6        Sunday    75         15   18    55      winter  Evening        1
 2020-03-15 18:50:00  1584291000000  0.0          0.0    0.0       0.0         0.0         0.0              0.0              [0.1, 6.8, 0.0, 82.1, 40.1, 33.6, 231.8, 0.3, None, 0.1, 3.7, -0.1, 33.1, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]          [0.5, 1.2, 0.0, 55.4, 133.0, 13.4, 131.2, 0.2, None, 0.0, 0.9, 0.0, 40.8, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]   [245.3, None, None]  [245.3, None, None]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  2020-03-15  2020  1        3      6        Sunday    75         15   18    50      winter  Evening        1
 2020-03-15 18:45:00  1584290700000  0.0          0.0    0.0       0.0         0.0         0.0              0.0              [0.1, 3.7, 0.0, 51.4, 40.1, 30.6, 246.5, 0.3, None, 0.1, 3.7, -0.1, 33.7, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]          [0.5, 0.9, 0.0, 44.8, 133.3, 13.8, 157.5, 0.3, None, 0.0, 0.9, 0.0, 41.3, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]   [245.6, None, None]  [245.6, None, None]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  2020-03-15  2020  1        3      6        Sunday    75         15   18    45      winter  Evening        1
 2020-03-15 18:40:00  1584290400000  0.0          0.0    0.0       0.0         0.0         0.0              0.0              [0.1, 3.7, 0.0, -82.1, 11.9, 30.7, 253.8, 1.4, None, 0.1, 3.7, -0.1, 16.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]         [0.5, 0.9, 0.0, 55.4, 103.6, 13.7, 176.5, 0.8, None, 0.1, 0.9, 0.0, 21.2, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]   [245.7, None, None]  [245.7, None, None]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  2020-03-15  2020  1        3      6        Sunday    75         15   18    40      winter  Evening        1
 2020-03-15 18:35:00  1584290100000  0.0          0.0    0.0       0.0         0.0         0.0              0.0              [0.1, 3.7, 0.0, -82.6, -33.2, 30.7, 96.6, 0.2, None, 0.1, 3.7, -0.1, -25.7, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]        [0.5, 0.9, 0.0, 55.2, 128.1, 13.9, 87.7, 0.7, None, 0.1, 0.9, 0.0, 33.4, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]    [246.2, None, None]  [246.2, None, None]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  2020-03-15  2020  1        3      6        Sunday    75         15   18    35      winter  Evening        1
 2020-03-15 18:30:00  1584289800000  0.0          0.0    0.0       0.0         0.0         0.0              0.0              [0.5, 21.3, -18.6, -76.9, -54.7, 48.7, -227.8, -1.6, None, 0.1, 3.7, -0.1, -28.5, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]  [2.2, 13.3, 6.5, 72.4, 135.9, 24.8, 152.8, 0.8, None, 0.1, 0.9, 0.0, 36.9, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]  [246.0, None, None]  [246.0, None, None]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  2020-03-15  2020  1        3      6        Sunday    75         15   18    30      winter  Evening        1
 2020-03-15 18:25:00  1584289500000  0.0          0.0    0.0       0.0         0.0         0.0              0.0              [0.1, 28.5, -26.5, -74.4, -79.2, 55.5, -228.5, -0.5, None, 0.1, 3.8, -0.1, -28.9, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]  [0.5, 19.0, 8.8, 79.6, 137.6, 29.4, 175.0, 0.4, None, 0.1, 0.9, 0.0, 37.2, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]  [246.4, None, None]  [246.4, None, None]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  2020-03-15  2020  1        3      6        Sunday    75         15   18    25      winter  Evening        1
 2020-03-15 18:20:00  1584289200000  0.0          0.0    0.0       0.0         0.0         0.0              0.0              [0.1, 3.8, 0.0, -82.2, -58.5, 30.5, -233.1, -0.4, None, 0.1, 3.8, -0.1, -31.9, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]     [0.5, 0.9, 0.0, 55.7, 131.9, 14.3, 144.3, 0.2, None, 0.0, 0.9, 0.0, 39.5, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]   [246.1, None, None]  [246.1, None, None]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  2020-03-15  2020  1        3      6        Sunday    75         15   18    20      winter  Evening        1
 2020-03-15 18:15:00  1584288900000  0.0          0.0    0.0       0.0         0.0         0.0              0.0              [0.1, 3.7, 0.0, -81.6, -60.0, 30.2, -230.6, -0.4, None, 0.1, 3.7, -0.1, -33.3, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]     [0.5, 0.9, 0.0, 55.4, 132.4, 14.0, 137.5, 0.2, None, 0.0, 0.9, 0.0, 40.5, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]   [244.5, None, None]  [244.5, None, None]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  2020-03-15  2020  1        3      6        Sunday    75         15   18    15      winter  Evening        1
 dtype: int64)

In [100]:
#checking for days where  consumptions > 0
df_5min[df_5min.consumption>0].value_counts().count(),df_5min[df_5min.consumption>0].value_counts()

(95638,
 date                 timestamp      consumption  solar   alwaysOn  gridImport  gridExport  selfConsumption  selfSufficiency  active                                                                                                                                                               reactive                                                                                                                                                                voltages             phaseVoltages        currentHarmonics                                                                                                  voltageHarmonics                                                                                                  dateOnly    year  quarter  month  weekday  day_name  dayofyear  day  hour  minute  season  day_section
 2021-02-12 01:55:00  1613087700000  153.934      46.152  1006.212  107.781     0.0         100.0            29.98            [0.1, 3.6, -0.1, None, None, None, None, 0.4, None, 0.1, 3.6, -0.1, 15.3, None, 0.0, 33.4, 107.8, 12.7, None, None, None, None, None, None, None, None, None, None]  [-0.4, 0.8, 0.0, None, None, None, None, -0.2, None, 0.1, 0.8, 0.0, -20.2, None, -0.1, -73.3, 52.9, -18.1, None, None, None, None, None, None, None, None, None, None]  [240.9, None, None]  [240.9, None, None]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  2021-02-12  2021  1        2      4        Friday    43         12   1     55      winter  Late Night       1
 2020-07-05 12:40:00  1593945600000  142.842      47.119  334.800   95.722      0.0         100.0            32.99            [0.1, 3.7, 0.0, None, None, None, None, 0.4, None, 0.1, 3.7, -0.1, 1.5, None, 0.0, 18.3, 95.7, 28.8, None, None, None, None, None, None, None, None, None, None]     [0.4, 0.9, 0.0, None, None, None, None, 0.2, None, 0.1, 0.8, 0.0, 3.4, None, 0.0, 65.3, 107.0, 12.5, None, None, None, None, None, None, None, None, None, None]        [242.8, None, None]  [242.8, None, None]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  2020-07-05  2020  3        7      6        Sunday    187        5    12    40      winter  Morning          1
 2020-07-05 11:55:00  1593942900000  142.814      46.618  334.800   96.195      0.0         100.0            32.64            [0.1, 3.6, 0.0, None, None, None, None, 0.4, None, 0.1, 3.6, -0.1, 1.5, None, 0.0, 18.1, 96.2, 28.5, None, None, None, None, None, None, None, None, None, None]     [0.4, 0.9, 0.0, None, None, None, None, 0.2, None, 0.1, 0.8, 0.0, 3.4, None, 0.0, 65.5, 105.1, 12.0, None, None, None, None, None, None, None, None, None, None]        [241.8, None, None]  [241.8, None, None]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  2020-07-05  2020  3        7      6        Sunday    187        5    11    55      winter  Morning          1
 2020-07-05 12:00:00  1593943200000  144.049      46.661  334.800   97.387      0.0         100.0            32.39            [0.1, 3.6, 0.0, None, None, None, None, 0.4, None, 0.1, 3.6, -0.1, 1.5, None, 0.0, 18.0, 97.4, 28.6, None, None, None, None, None, None, None, None, None, None]     [0.4, 0.9, 0.0, None, None, None, None, 0.2, None, 0.1, 0.8, 0.0, 3.4, None, 0.0, 65.7, 104.1, 12.1, None, None, None, None, None, None, None, None, None, None]        [241.9, None, None]  [241.9, None, None]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  2020-07-05  2020  3        7      6        Sunday    187        5    12    0       winter  Morning          1
 2020-07-05 12:05:00  1593943500000  145.788      46.011  334.800   99.776      0.0         100.0            31.56            [0.1, 3.6, 0.0, None, None, None, None, 0.4, None, 0.1, 3.6, -0.1, 1.5, None, 0.0, 17.7, 99.8, 28.3, None, None, None, None, None, None, None, None, None, None]     [0.4, 0.9, 0.0, None, None, None, None, 0.2, None, 0.1, 0.8, 0.0, 3.4, None, 0.0, 65.2, 101.3, 11.8, None, None, None, None, None, None, None, None, None, None]        [241.4, None, None]  [241.4, None, None]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  2020-07-05  2020  3        7      6        Sunday    187        5    12    5       winter  Morning          1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ..
 2020-10-24 06:45:00  1603514700000  170.065      62.412  1742.100  107.652     0.0         100.0            36.70            [0.4, 3.6, 0.0, None, None, None, None, 0.4, None, 0.0, 3.6, -0.1, 17.0, None, 0.0, 32.7, 107.7, 29.7, None, None, None, None, None, None, None, None, None, None]   [1.9, 0.9, 0.0, None, None, None, None, 0.2, None, 0.1, 0.8, 0.0, 22.4, None, 0.0, 79.4, 93.6, 15.3, None, None, None, None, None, None, None, None, None, None]        [241.9, None, None]  [241.9, None, None]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  2020-10-24  2020  4        10     5        Saturday  298        24   6     45      winter  Early Morning    1
 2020-10-24 06:50:00  1603515000000  155.463      53.991  1742.100  101.471     0.0         100.0            34.73            [0.1, 3.6, -0.1, None, None, None, None, 0.4, None, 0.0, 3.6, -0.1, 8.7, None, 0.0, 24.6, 101.5, 29.4, None, None, None, None, None, None, None, None, None, None]   [0.4, 0.9, 0.0, None, None, None, None, 0.2, None, 0.1, 0.8, 0.0, 14.1, None, 0.0, 72.7, 78.7, 15.2, None, None, None, None, None, None, None, None, None, None]        [241.8, None, None]  [241.8, None, None]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  2020-10-24  2020  4        10     5        Saturday  298        24   6     50      winter  Early Morning    1
 2020-10-24 06:55:00  1603515300000  160.689      64.389  1741.440  96.300      0.0         100.0            40.07            [0.1, 3.6, 0.0, None, None, None, None, 0.4, None, 0.0, 3.6, -0.1, 19.0, None, 0.0, 34.9, 96.3, 29.5, None, None, None, None, None, None, None, None, None, None]    [0.4, 0.8, 0.0, None, None, None, None, 0.2, None, 0.0, 0.8, 0.0, 25.7, None, 0.1, 82.3, 67.7, 14.9, None, None, None, None, None, None, None, None, None, None]        [240.9, None, None]  [240.9, None, None]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  2020-10-24  2020  4        10     5        Saturday  298        24   6     55      winter  Early Morning    1
 2020-10-24 07:00:00  1603515600000  166.431      69.783  1702.464  96.648      0.0         100.0            41.93            [0.1, 3.6, 0.0, None, None, None, None, 0.4, None, 0.0, 3.6, -0.1, 20.8, None, 0.0, 36.7, 96.6, 33.1, None, None, None, None, None, None, None, None, None, None]    [0.4, 0.8, 0.0, None, None, None, None, 0.2, None, 0.0, 0.8, 0.0, 27.5, None, 0.1, 83.5, 66.7, 15.4, None, None, None, None, None, None, None, None, None, None]        [240.2, None, None]  [240.2, None, None]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  2020-10-24  2020  4        10     5        Saturday  298        24   7     0       winter  Early Morning    1
 2020-03-15 19:10:00  1584292200000  32.883       0.000   0.000     32.883      0.0         0.0              0.00             [0.1, 19.4, 0.0, None, 0.0, 44.8, 219.1, 0.3, None, 0.1, 3.6, -0.1, 26.6, 32.9, None, None, None, None, None, None, None, None, None, None, None, None, None, None]  [0.5, 1.8, 0.0, None, 0.1, 12.8, 121.4, 0.2, None, 0.0, 0.8, 0.0, 34.9, 124.1, None, None, None, None, None, None, None, None, None, None, None, None, None, None]      [235.7, None, None]  [235.7, None, None]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  2020-03-15  2020  1        3      6        Sunday    75         15   19    10      winter  Evening          1
 Length: 95638, dtype: int64)

In [101]:
df_public_holiday.head()

          day    dayName  dayOfWeek weekend  weekNumber holiday     holidayName
0  2018/01/01     Monday          0       N           1       Y  New Year's Day
1  2018/01/02    Tuesday          1       N           1       N
2  2018/01/03  Wednesday          2       N           1       N
3  2018/01/04   Thursday          3       N           1       N
4  2018/01/05     Friday          4       N           1       N

In [102]:
df_public_holiday.holidayName.value_counts()

                                         2460
Holy Saturday                               7
Africa Day                                  7
Easter Sunday                               7
Zimbabwe Defence Forces Day                 7
Robert Mugabe National Youth Day            7
Good Friday                                 7
Heroes' Day                                 7
New Year's Day                              6
Christmas Day                               6
Easter Monday                               6
Worker's Day                                6
Independence Day                            5
Boxing Day                                  5
National Unity Day                          5
National Unity Day (observed)               2
Solidarity Day Against Sanctions            1
Christmas Day (observed) / Boxing Day       1
Independence Day (observed)                 1
New Year's Day (observed)                   1
Boxing Day (observed)                       1
Worker's Day (observed)                     1
Easter Monday/Independence Day              1
Zimbabwean General Election                 1
Name: holidayName, dtype: int64

In [103]:
df_public_holiday.isnull().sum()

day            0
dayName        0
dayOfWeek      0
weekend        0
weekNumber     0
holiday        0
holidayName    0
dtype: int64

In [104]:
df_public_holiday['day'] = pd.to_datetime(df_public_holiday['day'],format='%Y-%m-%d')

In [106]:
#creating dictionary for mapping hoidays to original table
mapping = dict(df_public_holiday[['day','holidayName']].values)

In [107]:
mapping

{Timestamp('2018-01-01 00:00:00'): "New Year's Day",
 Timestamp('2018-01-02 00:00:00'): ' ',
 Timestamp('2018-01-03 00:00:00'): ' ',
 Timestamp('2018-01-04 00:00:00'): ' ',
 Timestamp('2018-01-05 00:00:00'): ' ',
 Timestamp('2018-01-06 00:00:00'): ' ',
 Timestamp('2018-01-07 00:00:00'): ' ',
 Timestamp('2018-01-08 00:00:00'): ' ',
 Timestamp('2018-01-09 00:00:00'): ' ',
 Timestamp('2018-01-10 00:00:00'): ' ',
 Timestamp('2018-01-11 00:00:00'): ' ',
 Timestamp('2018-01-12 00:00:00'): ' ',
 Timestamp('2018-01-13 00:00:00'): ' ',
 Timestamp('2018-01-14 00:00:00'): ' ',
 Timestamp('2018-01-15 00:00:00'): ' ',
 Timestamp('2018-01-16 00:00:00'): ' ',
 Timestamp('2018-01-17 00:00:00'): ' ',
 Timestamp('2018-01-18 00:00:00'): ' ',
 Timestamp('2018-01-19 00:00:00'): ' ',
 Timestamp('2018-01-20 00:00:00'): ' ',
 Timestamp('2018-01-21 00:00:00'): ' ',
 Timestamp('2018-01-22 00:00:00'): ' ',
 Timestamp('2018-01-23 00:00:00'): ' ',
 Timestamp('2018-01-24 00:00:00'): ' ',
 Timestamp('2018-01-25 00:00:00'): ' ',
 Timestamp('2018-01-26 00:00:00'): ' ',
 Timestamp('2018-01-27 00:00:00'): ' ',
 Timestamp('2018-01-28 00:00:00'): ' ',
 Timestamp('2018-01-29 00:00:00'): ' ',
 Timestamp('2018-01-30 00:00:00'): ' ',
 Timestamp('2018-01-31 00:00:00'): ' ',
 Timestamp('2018-02-01 00:00:00'): ' ',
 Timestamp('2018-02-02 00:00:00'): ' ',
 Timestamp('2018-02-03 00:00:00'): ' ',
 Timestamp('2018-02-04 00:00:00'): ' ',
 Timestamp('2018-02-05 00:00:00'): ' ',
 Timestamp('2018-02-06 00:00:00'): ' ',
 Timestamp('2018-02-07 00:00:00'): ' ',
 Timestamp('2018-02-08 00:00:00'): ' ',
 Timestamp('2018-02-09 00:00:00'): ' ',
 Timestamp('2018-02-10 00:00:00'): ' ',
 Timestamp('2018-02-11 00:00:00'): ' ',
 Timestamp('2018-02-12 00:00:00'): ' ',
 Timestamp('2018-02-13 00:00:00'): ' ',
 Timestamp('2018-02-14 00:00:00'): ' ',
 Timestamp('2018-02-15 00:00:00'): ' ',
 Timestamp('2018-02-16 00:00:00'): ' ',
 Timestamp('2018-02-17 00:00:00'): ' ',
 Timestamp('2018-02-18 00:00:00'): ' ',
 Timestamp('2018-02-19 00:00:00'): ' ',
 Timestamp('2018-02-20 00:00:00'): ' ',
 Timestamp('2018-02-21 00:00:00'): 'Robert Mugabe National Youth Day',
 Timestamp('2018-02-22 00:00:00'): ' ',
 Timestamp('2018-02-23 00:00:00'): ' ',
 Timestamp('2018-02-24 00:00:00'): ' ',
 Timestamp('2018-02-25 00:00:00'): ' ',
 Timestamp('2018-02-26 00:00:00'): ' ',
 Timestamp('2018-02-27 00:00:00'): ' ',
 Timestamp('2018-02-28 00:00:00'): ' ',
 Timestamp('2018-03-01 00:00:00'): ' ',
 Timestamp('2018-03-02 00:00:00'): ' ',
 Timestamp('2018-03-03 00:00:00'): ' ',
 Timestamp('2018-03-04 00:00:00'): ' ',
 Timestamp('2018-03-05 00:00:00'): ' ',
 Timestamp('2018-03-06 00:00:00'): ' ',
 Timestamp('2018-03-07 00:00:00'): ' ',
 Timestamp('2018-03-08 00:00:00'): ' ',
 Timestamp('2018-03-09 00:00:00'): ' ',
 Timestamp('2018-03-10 00:00:00'): ' ',
 Timestamp('2018-03-11 00:00:00'): ' ',
 Timestamp('2018-03-12 00:00:00'): ' ',
 Timestamp('2018-03-13 00:00:00'): ' ',
 Timestamp('2018-03-14 00:00:00'): ' ',
 Timestamp('2018-03-15 00:00:00'): ' ',
 Timestamp('2018-03-16 00:00:00'): ' ',
 Timestamp('2018-03-17 00:00:00'): ' ',
 Timestamp('2018-03-18 00:00:00'): ' ',
 Timestamp('2018-03-19 00:00:00'): ' ',
 Timestamp('2018-03-20 00:00:00'): ' ',
 Timestamp('2018-03-21 00:00:00'): ' ',
 Timestamp('2018-03-22 00:00:00'): ' ',
 Timestamp('2018-03-23 00:00:00'): ' ',
 Timestamp('2018-03-24 00:00:00'): ' ',
 Timestamp('2018-03-25 00:00:00'): ' ',
 Timestamp('2018-03-26 00:00:00'): ' ',
 Timestamp('2018-03-27 00:00:00'): ' ',
 Timestamp('2018-03-28 00:00:00'): ' ',
 Timestamp('2018-03-29 00:00:00'): ' ',
 Timestamp('2018-03-30 00:00:00'): 'Good Friday',
 Timestamp('2018-03-31 00:00:00'): 'Holy Saturday',
 Timestamp('2018-04-01 00:00:00'): 'Easter Sunday',
 Timestamp('2018-04-02 00:00:00'): 'Easter Monday',
 Timestamp('2018-04-03 00:00:00'): ' ',
 Timestamp('2018-04-04 00:00:00'): ' ',
 Timestamp('2018-04-05 00:00:00'): ' ',
 Timestamp('2018-04-06 00:00:00'): ' ',
 Timestamp('2018-04-07 00:00:00'): ' ',
 Timestamp('2018-04-08 00:00:00'): ' ',
 Timestamp('2018-04-09 00:00:00'): ' ',
 Timestamp('2018-04-10 00:00:00'): ' ',
 Timestamp('2018-04-11 00:00:00'): ' ',
 Timestamp('2018-04-12 00:00:00'): ' ',
 Timestamp('2018-04-13 00:00:00'): ' ',
 Timestamp('2018-04-14 00:00:00'): ' ',
 Timestamp('2018-04-15 00:00:00'): ' ',
 Timestamp('2018-04-16 00:00:00'): ' ',
 Timestamp('2018-04-17 00:00:00'): ' ',
 Timestamp('2018-04-18 00:00:00'): 'Independence Day',
 Timestamp('2018-04-19 00:00:00'): ' ',
 Timestamp('2018-04-20 00:00:00'): ' ',
 Timestamp('2018-04-21 00:00:00'): ' ',
 Timestamp('2018-04-22 00:00:00'): ' ',
 Timestamp('2018-04-23 00:00:00'): ' ',
 Timestamp('2018-04-24 00:00:00'): ' ',
 Timestamp('2018-04-25 00:00:00'): ' ',
 Timestamp('2018-04-26 00:00:00'): ' ',
 Timestamp('2018-04-27 00:00:00'): ' ',
 Timestamp('2018-04-28 00:00:00'): ' ',
 Timestamp('2018-04-29 00:00:00'): ' ',
 Timestamp('2018-04-30 00:00:00'): ' ',
 Timestamp('2018-05-01 00:00:00'): "Worker's Day",
 Timestamp('2018-05-02 00:00:00'): ' ',
 Timestamp('2018-05-03 00:00:00'): ' ',
 Timestamp('2018-05-04 00:00:00'): ' ',
 Timestamp('2018-05-05 00:00:00'): ' ',
 Timestamp('2018-05-06 00:00:00'): ' ',
 Timestamp('2018-05-07 00:00:00'): ' ',
 Timestamp('2018-05-08 00:00:00'): ' ',
 Timestamp('2018-05-09 00:00:00'): ' ',
 Timestamp('2018-05-10 00:00:00'): ' ',
 Timestamp('2018-05-11 00:00:00'): ' ',
 Timestamp('2018-05-12 00:00:00'): ' ',
 Timestamp('2018-05-13 00:00:00'): ' ',
 Timestamp('2018-05-14 00:00:00'): ' ',
 Timestamp('2018-05-15 00:00:00'): ' ',
 Timestamp('2018-05-16 00:00:00'): ' ',
 Timestamp('2018-05-17 00:00:00'): ' ',
 Timestamp('2018-05-18 00:00:00'): ' ',
 Timestamp('2018-05-19 00:00:00'): ' ',
 Timestamp('2018-05-20 00:00:00'): ' ',
 Timestamp('2018-05-21 00:00:00'): ' ',
 Timestamp('2018-05-22 00:00:00'): ' ',
 Timestamp('2018-05-23 00:00:00'): ' ',
 Timestamp('2018-05-24 00:00:00'): ' ',
 Timestamp('2018-05-25 00:00:00'): 'Africa Day',
 Timestamp('2018-05-26 00:00:00'): ' ',
 Timestamp('2018-05-27 00:00:00'): ' ',
 Timestamp('2018-05-28 00:00:00'): ' ',
 Timestamp('2018-05-29 00:00:00'): ' ',
 Timestamp('2018-05-30 00:00:00'): ' ',
 Timestamp('2018-05-31 00:00:00'): ' ',
 Timestamp('2018-06-01 00:00:00'): ' ',
 Timestamp('2018-06-02 00:00:00'): ' ',
 Timestamp('2018-06-03 00:00:00'): ' ',
 Timestamp('2018-06-04 00:00:00'): ' ',
 Timestamp('2018-06-05 00:00:00'): ' ',
 Timestamp('2018-06-06 00:00:00'): ' ',
 Timestamp('2018-06-07 00:00:00'): ' ',
 Timestamp('2018-06-08 00:00:00'): ' ',
 Timestamp('2018-06-09 00:00:00'): ' ',
 Timestamp('2018-06-10 00:00:00'): ' ',
 Timestamp('2018-06-11 00:00:00'): ' ',
 Timestamp('2018-06-12 00:00:00'): ' ',
 Timestamp('2018-06-13 00:00:00'): ' ',
 Timestamp('2018-06-14 00:00:00'): ' ',
 Timestamp('2018-06-15 00:00:00'): ' ',
 Timestamp('2018-06-16 00:00:00'): ' ',
 Timestamp('2018-06-17 00:00:00'): ' ',
 Timestamp('2018-06-18 00:00:00'): ' ',
 Timestamp('2018-06-19 00:00:00'): ' ',
 Timestamp('2018-06-20 00:00:00'): ' ',
 Timestamp('2018-06-21 00:00:00'): ' ',
 Timestamp('2018-06-22 00:00:00'): ' ',
 Timestamp('2018-06-23 00:00:00'): ' ',
 Timestamp('2018-06-24 00:00:00'): ' ',
 Timestamp('2018-06-25 00:00:00'): ' ',
 Timestamp('2018-06-26 00:00:00'): ' ',
 Timestamp('2018-06-27 00:00:00'): ' ',
 Timestamp('2018-06-28 00:00:00'): ' ',
 Timestamp('2018-06-29 00:00:00'): ' ',
 Timestamp('2018-06-30 00:00:00'): ' ',
 Timestamp('2018-07-01 00:00:00'): ' ',
 Timestamp('2018-07-02 00:00:00'): ' ',
 Timestamp('2018-07-03 00:00:00'): ' ',
 Timestamp('2018-07-04 00:00:00'): ' ',
 Timestamp('2018-07-05 00:00:00'): ' ',
 Timestamp('2018-07-06 00:00:00'): ' ',
 Timestamp('2018-07-07 00:00:00'): ' ',
 Timestamp('2018-07-08 00:00:00'): ' ',
 Timestamp('2018-07-09 00:00:00'): ' ',
 Timestamp('2018-07-10 00:00:00'): ' ',
 Timestamp('2018-07-11 00:00:00'): ' ',
 Timestamp('2018-07-12 00:00:00'): ' ',
 Timestamp('2018-07-13 00:00:00'): ' ',
 Timestamp('2018-07-14 00:00:00'): ' ',
 Timestamp('2018-07-15 00:00:00'): ' ',
 Timestamp('2018-07-16 00:00:00'): ' ',
 Timestamp('2018-07-17 00:00:00'): ' ',
 Timestamp('2018-07-18 00:00:00'): ' ',
 Timestamp('2018-07-19 00:00:00'): ' ',
 Timestamp('2018-07-20 00:00:00'): ' ',
 Timestamp('2018-07-21 00:00:00'): ' ',
 Timestamp('2018-07-22 00:00:00'): ' ',
 Timestamp('2018-07-23 00:00:00'): ' ',
 Timestamp('2018-07-24 00:00:00'): ' ',
 Timestamp('2018-07-25 00:00:00'): ' ',
 Timestamp('2018-07-26 00:00:00'): ' ',
 Timestamp('2018-07-27 00:00:00'): ' ',
 Timestamp('2018-07-28 00:00:00'): ' ',
 Timestamp('2018-07-29 00:00:00'): ' ',
 Timestamp('2018-07-30 00:00:00'): 'Zimbabwean General Election',
 Timestamp('2018-07-31 00:00:00'): ' ',
 Timestamp('2018-08-01 00:00:00'): ' ',
 Timestamp('2018-08-02 00:00:00'): ' ',
 Timestamp('2018-08-03 00:00:00'): ' ',
 Timestamp('2018-08-04 00:00:00'): ' ',
 Timestamp('2018-08-05 00:00:00'): ' ',
 Timestamp('2018-08-06 00:00:00'): ' ',
 Timestamp('2018-08-07 00:00:00'): ' ',
 Timestamp('2018-08-08 00:00:00'): ' ',
 Timestamp('2018-08-09 00:00:00'): ' ',
 Timestamp('2018-08-10 00:00:00'): ' ',
 Timestamp('2018-08-11 00:00:00'): ' ',
 Timestamp('2018-08-12 00:00:00'): ' ',
 Timestamp('2018-08-13 00:00:00'): "Heroes' Day",
 Timestamp('2018-08-14 00:00:00'): 'Zimbabwe Defence Forces Day',
 Timestamp('2018-08-15 00:00:00'): ' ',
 Timestamp('2018-08-16 00:00:00'): ' ',
 Timestamp('2018-08-17 00:00:00'): ' ',
 Timestamp('2018-08-18 00:00:00'): ' ',
 Timestamp('2018-08-19 00:00:00'): ' ',
 Timestamp('2018-08-20 00:00:00'): ' ',
 Timestamp('2018-08-21 00:00:00'): ' ',
 Timestamp('2018-08-22 00:00:00'): ' ',
 Timestamp('2018-08-23 00:00:00'): ' ',
 Timestamp('2018-08-24 00:00:00'): ' ',
 Timestamp('2018-08-25 00:00:00'): ' ',
 Timestamp('2018-08-26 00:00:00'): ' ',
 Timestamp('2018-08-27 00:00:00'): ' ',
 Timestamp('2018-08-28 00:00:00'): ' ',
 Timestamp('2018-08-29 00:00:00'): ' ',
 Timestamp('2018-08-30 00:00:00'): ' ',
 Timestamp('2018-08-31 00:00:00'): ' ',
 Timestamp('2018-09-01 00:00:00'): ' ',
 Timestamp('2018-09-02 00:00:00'): ' ',
 Timestamp('2018-09-03 00:00:00'): ' ',
 Timestamp('2018-09-04 00:00:00'): ' ',
 Timestamp('2018-09-05 00:00:00'): ' ',
 Timestamp('2018-09-06 00:00:00'): ' ',
 Timestamp('2018-09-07 00:00:00'): ' ',
 Timestamp('2018-09-08 00:00:00'): ' ',
 Timestamp('2018-09-09 00:00:00'): ' ',
 Timestamp('2018-09-10 00:00:00'): ' ',
 Timestamp('2018-09-11 00:00:00'): ' ',
 Timestamp('2018-09-12 00:00:00'): ' ',
 Timestamp('2018-09-13 00:00:00'): ' ',
 Timestamp('2018-09-14 00:00:00'): ' ',
 Timestamp('2018-09-15 00:00:00'): ' ',
 Timestamp('2018-09-16 00:00:00'): ' ',
 Timestamp('2018-09-17 00:00:00'): ' ',
 Timestamp('2018-09-18 00:00:00'): ' ',
 Timestamp('2018-09-19 00:00:00'): ' ',
 Timestamp('2018-09-20 00:00:00'): ' ',
 Timestamp('2018-09-21 00:00:00'): ' ',
 Timestamp('2018-09-22 00:00:00'): ' ',
 Timestamp('2018-09-23 00:00:00'): ' ',
 Timestamp('2018-09-24 00:00:00'): ' ',
 Timestamp('2018-09-25 00:00:00'): ' ',
 Timestamp('2018-09-26 00:00:00'): ' ',
 Timestamp('2018-09-27 00:00:00'): ' ',
 Timestamp('2018-09-28 00:00:00'): ' ',
 Timestamp('2018-09-29 00:00:00'): ' ',
 Timestamp('2018-09-30 00:00:00'): ' ',
 Timestamp('2018-10-01 00:00:00'): ' ',
 Timestamp('2018-10-02 00:00:00'): ' ',
 Timestamp('2018-10-03 00:00:00'): ' ',
 Timestamp('2018-10-04 00:00:00'): ' ',
 Timestamp('2018-10-05 00:00:00'): ' ',
 Timestamp('2018-10-06 00:00:00'): ' ',
 Timestamp('2018-10-07 00:00:00'): ' ',
 Timestamp('2018-10-08 00:00:00'): ' ',
 Timestamp('2018-10-09 00:00:00'): ' ',
 Timestamp('2018-10-10 00:00:00'): ' ',
 Timestamp('2018-10-11 00:00:00'): ' ',
 Timestamp('2018-10-12 00:00:00'): ' ',
 Timestamp('2018-10-13 00:00:00'): ' ',
 Timestamp('2018-10-14 00:00:00'): ' ',
 Timestamp('2018-10-15 00:00:00'): ' ',
 Timestamp('2018-10-16 00:00:00'): ' ',
 Timestamp('2018-10-17 00:00:00'): ' ',
 Timestamp('2018-10-18 00:00:00'): ' ',
 Timestamp('2018-10-19 00:00:00'): ' ',
 Timestamp('2018-10-20 00:00:00'): ' ',
 Timestamp('2018-10-21 00:00:00'): ' ',
 Timestamp('2018-10-22 00:00:00'): ' ',
 Timestamp('2018-10-23 00:00:00'): ' ',
 Timestamp('2018-10-24 00:00:00'): ' ',
 Timestamp('2018-10-25 00:00:00'): ' ',
 Timestamp('2018-10-26 00:00:00'): ' ',
 Timestamp('2018-10-27 00:00:00'): ' ',
 Timestamp('2018-10-28 00:00:00'): ' ',
 Timestamp('2018-10-29 00:00:00'): ' ',
 Timestamp('2018-10-30 00:00:00'): ' ',
 Timestamp('2018-10-31 00:00:00'): ' ',
 Timestamp('2018-11-01 00:00:00'): ' ',
 Timestamp('2018-11-02 00:00:00'): ' ',
 Timestamp('2018-11-03 00:00:00'): ' ',
 Timestamp('2018-11-04 00:00:00'): ' ',
 Timestamp('2018-11-05 00:00:00'): ' ',
 Timestamp('2018-11-06 00:00:00'): ' ',
 Timestamp('2018-11-07 00:00:00'): ' ',
 Timestamp('2018-11-08 00:00:00'): ' ',
 Timestamp('2018-11-09 00:00:00'): ' ',
 Timestamp('2018-11-10 00:00:00'): ' ',
 Timestamp('2018-11-11 00:00:00'): ' ',
 Timestamp('2018-11-12 00:00:00'): ' ',
 Timestamp('2018-11-13 00:00:00'): ' ',
 Timestamp('2018-11-14 00:00:00'): ' ',
 Timestamp('2018-11-15 00:00:00'): ' ',
 Timestamp('2018-11-16 00:00:00'): ' ',
 Timestamp('2018-11-17 00:00:00'): ' ',
 Timestamp('2018-11-18 00:00:00'): ' ',
 Timestamp('2018-11-19 00:00:00'): ' ',
 Timestamp('2018-11-20 00:00:00'): ' ',
 Timestamp('2018-11-21 00:00:00'): ' ',
 Timestamp('2018-11-22 00:00:00'): ' ',
 Timestamp('2018-11-23 00:00:00'): ' ',
 Timestamp('2018-11-24 00:00:00'): ' ',
 Timestamp('2018-11-25 00:00:00'): ' ',
 Timestamp('2018-11-26 00:00:00'): ' ',
 Timestamp('2018-11-27 00:00:00'): ' ',
 Timestamp('2018-11-28 00:00:00'): ' ',
 Timestamp('2018-11-29 00:00:00'): ' ',
 Timestamp('2018-11-30 00:00:00'): ' ',
 Timestamp('2018-12-01 00:00:00'): ' ',
 Timestamp('2018-12-02 00:00:00'): ' ',
 Timestamp('2018-12-03 00:00:00'): ' ',
 Timestamp('2018-12-04 00:00:00'): ' ',
 Timestamp('2018-12-05 00:00:00'): ' ',
 Timestamp('2018-12-06 00:00:00'): ' ',
 Timestamp('2018-12-07 00:00:00'): ' ',
 Timestamp('2018-12-08 00:00:00'): ' ',
 Timestamp('2018-12-09 00:00:00'): ' ',
 Timestamp('2018-12-10 00:00:00'): ' ',
 Timestamp('2018-12-11 00:00:00'): ' ',
 Timestamp('2018-12-12 00:00:00'): ' ',
 Timestamp('2018-12-13 00:00:00'): ' ',
 Timestamp('2018-12-14 00:00:00'): ' ',
 Timestamp('2018-12-15 00:00:00'): ' ',
 Timestamp('2018-12-16 00:00:00'): ' ',
 Timestamp('2018-12-17 00:00:00'): ' ',
 Timestamp('2018-12-18 00:00:00'): ' ',
 Timestamp('2018-12-19 00:00:00'): ' ',
 Timestamp('2018-12-20 00:00:00'): ' ',
 Timestamp('2018-12-21 00:00:00'): ' ',
 Timestamp('2018-12-22 00:00:00'): 'National Unity Day',
 Timestamp('2018-12-23 00:00:00'): ' ',
 Timestamp('2018-12-24 00:00:00'): ' ',
 Timestamp('2018-12-25 00:00:00'): 'Christmas Day',
 Timestamp('2018-12-26 00:00:00'): 'Boxing Day',
 Timestamp('2018-12-27 00:00:00'): ' ',
 Timestamp('2018-12-28 00:00:00'): ' ',
 Timestamp('2018-12-29 00:00:00'): ' ',
 Timestamp('2018-12-30 00:00:00'): ' ',
 Timestamp('2018-12-31 00:00:00'): ' ',
 Timestamp('2019-01-01 00:00:00'): "New Year's Day",
 Timestamp('2019-01-02 00:00:00'): ' ',
 Timestamp('2019-01-03 00:00:00'): ' ',
 Timestamp('2019-01-04 00:00:00'): ' ',
 Timestamp('2019-01-05 00:00:00'): ' ',
 Timestamp('2019-01-06 00:00:00'): ' ',
 Timestamp('2019-01-07 00:00:00'): ' ',
 Timestamp('2019-01-08 00:00:00'): ' ',
 Timestamp('2019-01-09 00:00:00'): ' ',
 Timestamp('2019-01-10 00:00:00'): ' ',
 Timestamp('2019-01-11 00:00:00'): ' ',
 Timestamp('2019-01-12 00:00:00'): ' ',
 Timestamp('2019-01-13 00:00:00'): ' ',
 Timestamp('2019-01-14 00:00:00'): ' ',
 Timestamp('2019-01-15 00:00:00'): ' ',
 Timestamp('2019-01-16 00:00:00'): ' ',
 Timestamp('2019-01-17 00:00:00'): ' ',
 Timestamp('2019-01-18 00:00:00'): ' ',
 Timestamp('2019-01-19 00:00:00'): ' ',
 Timestamp('2019-01-20 00:00:00'): ' ',
 Timestamp('2019-01-21 00:00:00'): ' ',
 Timestamp('2019-01-22 00:00:00'): ' ',
 Timestamp('2019-01-23 00:00:00'): ' ',
 Timestamp('2019-01-24 00:00:00'): ' ',
 Timestamp('2019-01-25 00:00:00'): ' ',
 Timestamp('2019-01-26 00:00:00'): ' ',
 Timestamp('2019-01-27 00:00:00'): ' ',
 Timestamp('2019-01-28 00:00:00'): ' ',
 Timestamp('2019-01-29 00:00:00'): ' ',
 Timestamp('2019-01-30 00:00:00'): ' ',
 Timestamp('2019-01-31 00:00:00'): ' ',
 Timestamp('2019-02-01 00:00:00'): ' ',
 Timestamp('2019-02-02 00:00:00'): ' ',
 Timestamp('2019-02-03 00:00:00'): ' ',
 Timestamp('2019-02-04 00:00:00'): ' ',
 Timestamp('2019-02-05 00:00:00'): ' ',
 Timestamp('2019-02-06 00:00:00'): ' ',
 Timestamp('2019-02-07 00:00:00'): ' ',
 Timestamp('2019-02-08 00:00:00'): ' ',
 Timestamp('2019-02-09 00:00:00'): ' ',
 Timestamp('2019-02-10 00:00:00'): ' ',
 Timestamp('2019-02-11 00:00:00'): ' ',
 Timestamp('2019-02-12 00:00:00'): ' ',
 Timestamp('2019-02-13 00:00:00'): ' ',
 Timestamp('2019-02-14 00:00:00'): ' ',
 Timestamp('2019-02-15 00:00:00'): ' ',
 Timestamp('2019-02-16 00:00:00'): ' ',
 Timestamp('2019-02-17 00:00:00'): ' ',
 Timestamp('2019-02-18 00:00:00'): ' ',
 Timestamp('2019-02-19 00:00:00'): ' ',
 Timestamp('2019-02-20 00:00:00'): ' ',
 Timestamp('2019-02-21 00:00:00'): 'Robert Mugabe National Youth Day',
 Timestamp('2019-02-22 00:00:00'): ' ',
 Timestamp('2019-02-23 00:00:00'): ' ',
 Timestamp('2019-02-24 00:00:00'): ' ',
 Timestamp('2019-02-25 00:00:00'): ' ',
 Timestamp('2019-02-26 00:00:00'): ' ',
 Timestamp('2019-02-27 00:00:00'): ' ',
 Timestamp('2019-02-28 00:00:00'): ' ',
 Timestamp('2019-03-01 00:00:00'): ' ',
 Timestamp('2019-03-02 00:00:00'): ' ',
 Timestamp('2019-03-03 00:00:00'): ' ',
 Timestamp('2019-03-04 00:00:00'): ' ',
 Timestamp('2019-03-05 00:00:00'): ' ',
 Timestamp('2019-03-06 00:00:00'): ' ',
 Timestamp('2019-03-07 00:00:00'): ' ',
 Timestamp('2019-03-08 00:00:00'): ' ',
 Timestamp('2019-03-09 00:00:00'): ' ',
 Timestamp('2019-03-10 00:00:00'): ' ',
 Timestamp('2019-03-11 00:00:00'): ' ',
 Timestamp('2019-03-12 00:00:00'): ' ',
 Timestamp('2019-03-13 00:00:00'): ' ',
 Timestamp('2019-03-14 00:00:00'): ' ',
 Timestamp('2019-03-15 00:00:00'): ' ',
 Timestamp('2019-03-16 00:00:00'): ' ',
 Timestamp('2019-03-17 00:00:00'): ' ',
 Timestamp('2019-03-18 00:00:00'): ' ',
 Timestamp('2019-03-19 00:00:00'): ' ',
 Timestamp('2019-03-20 00:00:00'): ' ',
 Timestamp('2019-03-21 00:00:00'): ' ',
 Timestamp('2019-03-22 00:00:00'): ' ',
 Timestamp('2019-03-23 00:00:00'): ' ',
 Timestamp('2019-03-24 00:00:00'): ' ',
 Timestamp('2019-03-25 00:00:00'): ' ',
 Timestamp('2019-03-26 00:00:00'): ' ',
 Timestamp('2019-03-27 00:00:00'): ' ',
 Timestamp('2019-03-28 00:00:00'): ' ',
 Timestamp('2019-03-29 00:00:00'): ' ',
 Timestamp('2019-03-30 00:00:00'): ' ',
 Timestamp('2019-03-31 00:00:00'): ' ',
 Timestamp('2019-04-01 00:00:00'): ' ',
 Timestamp('2019-04-02 00:00:00'): ' ',
 Timestamp('2019-04-03 00:00:00'): ' ',
 Timestamp('2019-04-04 00:00:00'): ' ',
 Timestamp('2019-04-05 00:00:00'): ' ',
 Timestamp('2019-04-06 00:00:00'): ' ',
 Timestamp('2019-04-07 00:00:00'): ' ',
 Timestamp('2019-04-08 00:00:00'): ' ',
 Timestamp('2019-04-09 00:00:00'): ' ',
 Timestamp('2019-04-10 00:00:00'): ' ',
 Timestamp('2019-04-11 00:00:00'): ' ',
 Timestamp('2019-04-12 00:00:00'): ' ',
 Timestamp('2019-04-13 00:00:00'): ' ',
 Timestamp('2019-04-14 00:00:00'): ' ',
 Timestamp('2019-04-15 00:00:00'): ' ',
 Timestamp('2019-04-16 00:00:00'): ' ',
 Timestamp('2019-04-17 00:00:00'): ' ',
 Timestamp('2019-04-18 00:00:00'): 'Independence Day',
 Timestamp('2019-04-19 00:00:00'): 'Good Friday',
 Timestamp('2019-04-20 00:00:00'): 'Holy Saturday',
 Timestamp('2019-04-21 00:00:00'): 'Easter Sunday',
 Timestamp('2019-04-22 00:00:00'): 'Easter Monday',
 Timestamp('2019-04-23 00:00:00'): ' ',
 Timestamp('2019-04-24 00:00:00'): ' ',
 Timestamp('2019-04-25 00:00:00'): ' ',
 Timestamp('2019-04-26 00:00:00'): ' ',
 Timestamp('2019-04-27 00:00:00'): ' ',
 Timestamp('2019-04-28 00:00:00'): ' ',
 Timestamp('2019-04-29 00:00:00'): ' ',
 Timestamp('2019-04-30 00:00:00'): ' ',
 Timestamp('2019-05-01 00:00:00'): "Worker's Day",
 Timestamp('2019-05-02 00:00:00'): ' ',
 Timestamp('2019-05-03 00:00:00'): ' ',
 Timestamp('2019-05-04 00:00:00'): ' ',
 Timestamp('2019-05-05 00:00:00'): ' ',
 Timestamp('2019-05-06 00:00:00'): ' ',

In [108]:
#adding Public holiday column to original
df_5min['Public_Holiday'] = df_5min['dateOnly'].map(mapping)

In [110]:
#replacing nan and empty space with non-Holiday
df_5min['Public_Holiday']=df_5min['Public_Holiday'].apply(lambda x:np.NaN if isinstance(x, str) and (x.isspace() or not x) else x).replace(np.NaN,'Non_Holiday')

In [111]:
df_5min.sample(5)

                     date      timestamp  ...  day_section  Public_Holiday
12957 2020-04-29 19:55:00  1588182900000  ...      Evening     Non_Holiday
3635  2020-03-28 10:25:00  1585383900000  ...      Morning     Non_Holiday
70254 2020-11-15 19:20:00  1605460800000  ...      Evening     Non_Holiday
53614 2020-09-19 00:10:00  1600467000000  ...   Late Night     Non_Holiday
87506 2021-01-14 17:35:00  1610638500000  ...      Evening     Non_Holiday

[5 rows x 28 columns]

In [112]:
df_5min['Public_Holiday'].unique()

array(['Non_Holiday', 'Good Friday', 'Holy Saturday', 'Easter Sunday',
       'Easter Monday', 'Independence Day', "Worker's Day", 'Africa Day',
       "Heroes' Day", 'Zimbabwe Defence Forces Day', 'National Unity Day',
       'Christmas Day', 'Boxing Day', "New Year's Day"], dtype=object)

In [113]:
df_5min.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95649 entries, 0 to 95648
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              95649 non-null  datetime64[ns]
 1   timestamp         95649 non-null  int64
 2   consumption       95649 non-null  float64
 3   solar             95649 non-null  float64
 4   alwaysOn          95649 non-null  float64
 5   gridImport        95649 non-null  float64
 6   gridExport        95649 non-null  float64
 7   selfConsumption   95649 non-null  float64
 8   selfSufficiency   95649 non-null  float64
 9   active            95649 non-null  object
 10  reactive          95649 non-null  object
 11  voltages          95649 non-null  object
 12  phaseVoltages     95649 non-null  object
 13  currentHarmonics  95649 non-null  object
 14  voltageHarmonics  95649 non-null  object
 15  dateOnly          95649 non-null  object
 16  year              95649 non-null  int64
 17  quarter           95649 non-null  int64
 18  month             95649 non-null  int64
 19  weekday           95649 non-null  int64
 20  day_name          95649 non-null  object
 21  dayofyear         95649 non-null  int64
 22  day               95649 non-null  int64
 23  hour              95649 non-null  int64
 24  minute            95649 non-null  int64
 25  season            95649 non-null  object
 26  day_section       95649 non-null  object
 27  Public_Holiday    95649 non-null  object
dtypes: datetime64[ns](1), float64(7), int64(9), object(11)
memory usage: 20.4+ MB

In [115]:
#Re-arranging columns
df_5min=df_5min[['date','timestamp','year','quarter','month','dayofyear','day','day_name','hour','minute','season','day_section','Public_Holiday','consumption','solar','alwaysOn','gridImport','gridExport','selfConsumption','selfSufficiency','active','reactive','voltages','phaseVoltages','currentHarmonics','voltageHarmonics']]

In [116]:
df_5min.head()

                 date  ...                                   voltageHarmonics
0 2020-03-15 18:15:00  ...  [[], [], [], [], [], [], [], [], [], [], [], [...
1 2020-03-15 18:20:00  ...  [[], [], [], [], [], [], [], [], [], [], [], [...
2 2020-03-15 18:25:00  ...  [[], [], [], [], [], [], [], [], [], [], [], [...
3 2020-03-15 18:30:00  ...  [[], [], [], [], [], [], [], [], [], [], [], [...
4 2020-03-15 18:35:00  ...  [[], [], [], [], [], [], [], [], [], [], [], [...

[5 rows x 26 columns]

HOURLY DATA WRANGLING

In [118]:
df_hourly.sample(5)

                     date  ...                                   voltageHarmonics
5041  2020-10-12 16:00:00  ...  [[], [], [], [], [], [], [], [], [], [], [], [...
7015  2021-01-02 22:00:00  ...  [[], [], [], [], [], [], [], [], [], [], [], [...
1955  2020-06-06 02:00:00  ...  [[], [], [], [], [], [], [], [], [], [], [], [...
6927  2020-12-30 06:00:00  ...  [[], [], [], [], [], [], [], [], [], [], [], [...
6734  2020-12-22 05:00:00  ...  [[], [], [], [], [], [], [], [], [], [], [], [...

[5 rows x 15 columns]

In [119]:
print(do_data_information(df_hourly))

--------------------------------------------------------------------
First rows
                  date  ...                                   voltageHarmonics
0  2020-03-15 18:00:00  ...  [[], [], [], [], [], [], [], [], [], [], [], [...
1  2020-03-15 19:00:00  ...  [[], [], [], [], [], [], [], [], [], [], [], [...
2  2020-03-15 20:00:00  ...  [[], [], [], [], [], [], [], [], [], [], [], [...
3  2020-03-15 21:00:00  ...  [[], [], [], [], [], [], [], [], [], [], [], [...
4  2020-03-15 22:00:00  ...  [[], [], [], [], [], [], [], [], [], [], [], [...

[5 rows x 15 columns]
--------------------------------------------------------------------
Dimension of the data
This data has 7979 rows and 15 variables
None

In [120]:
print(check_missing_values_table(df_hourly))

Your selected dataframe has 15 columns.
There are 0 columns that have missing values.
Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [121]:
print(do_nunique_value(df_hourly))

The Numver of unique values per columns are as follows
                  nunique
date                 7979
timestamp            7979
consumption          7963
solar                7876
alwaysOn              714
gridImport           7946
gridExport              1
selfConsumption         2
selfSufficiency      3092
active               7979
reactive             7979
voltages              280
phaseVoltages         280
currentHarmonics        1
voltageHarmonics        1
None

In [122]:
df_hourly=do_datepart_extraction(df_hourly)

In [123]:
df_hourly.date.min(),df_hourly.date.max()

(Timestamp('2020-03-15 18:00:00'), Timestamp('2021-02-12 01:00:00'))

In [124]:
#checking for days where there weere no consumptions
df_hourly[df_hourly.consumption==0].value_counts().count(),df_hourly[df_hourly.consumption==0].value_counts()

(1,
 date                 timestamp      consumption  solar  alwaysOn  gridImport  gridExport  selfConsumption  selfSufficiency  active                                                                                                                                                                          reactive                                                                                                                                                                    voltages             phaseVoltages        currentHarmonics                                                                                                  voltageHarmonics                                                                                                  dateOnly    year  quarter  month  weekday  day_name  dayofyear  day  hour  minute  season  day_section
 2020-03-15 18:00:00  1584288000000  0.0          0.0    0.0       0.0         0.0         0.0              0.0              [1.3, 78.9, -45.1, -297.3, -163.6, 321.1, 143.9, -0.4, None, 0.9, 33.5, -0.9, -32.3, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]  [6.2, 38.9, 15.3, 534.8, 1134.3, 151.0, 1309.9, 3.8, None, 0.4, 8.1, 0.0, 331.7, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]  [245.8, None, None]  [245.8, None, None]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  2020-03-15  2020  1        3      6        Sunday    75         15   18    0       winter  Evening        1
 dtype: int64)

In [126]:
#checking for days where there weere  consumptions
df_hourly[df_hourly.consumption>0].value_counts().count(),df_hourly[df_5min.consumption>0].value_counts()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

(7978,
 date                 timestamp      consumption  solar    alwaysOn  gridImport  gridExport  selfConsumption  selfSufficiency  active                                                                                                                                                                     reactive                                                                                                                                                                     voltages             phaseVoltages        currentHarmonics                                                                                                  voltageHarmonics                                                                                                  dateOnly    year  quarter  month  weekday  day_name  dayofyear  day  hour  minute  season  day_section
 2021-02-12 01:00:00  1613084400000  1970.954     555.986  1006.751  1415.067    0.0         100.0            28.20            [1.5, 42.9, -1.2, None, None, None, None, 5.9, None, 1.2, 43.2, -1.2, 166.8, None, 0.0, 388.5, 1415.1, 167.5, None, None, None, None, None, None, None, None, None, None]  [-6.2, 10.0, 0.0, None, None, None, None, -2.8, None, 1.2, 9.6, 0.0, -232.1, None, -0.4, -873.8, 795.3, -199.6, None, None, None, None, None, None, None, None, None, None]  [240.6, None, None]  [240.6, None, None]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  2021-02-12  2021  1        2      4        Friday    43         12   1     0       winter  Late Night       1
 2020-07-05 22:00:00  1593979200000  1780.820     651.867  334.800   1128.653    0.0         100.0            36.62            [1.2, 44.0, 0.0, None, None, None, None, 4.8, None, 1.2, 44.0, -1.2, 65.6, None, 0.0, 261.8, 1128.7, 390.3, None, None, None, None, None, None, None, None, None, None]    [5.4, 10.5, 0.0, None, None, None, None, 2.6, None, 1.2, 10.1, 0.0, 111.4, None, 0.0, 848.6, 1166.6, 178.2, None, None, None, None, None, None, None, None, None, None]      [243.1, None, None]  [243.1, None, None]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  2020-07-05  2020  3        7      6        Sunday    187        5    22    0       winter  Night            1
 2020-07-05 09:00:00  1593932400000  1759.581     573.385  334.800   1186.195    0.0         100.0            32.59            [1.5, 43.5, 0.0, None, None, None, None, 5.9, None, 1.2, 43.5, -1.2, 31.7, None, 0.0, 231.5, 1186.2, 342.0, None, None, None, None, None, None, None, None, None, None]    [6.3, 10.7, 0.0, None, None, None, None, 3.2, None, 1.2, 9.6, 0.0, 59.0, None, 0.0, 802.3, 1267.6, 142.8, None, None, None, None, None, None, None, None, None, None]        [242.0, None, None]  [242.0, None, None]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  2020-07-05  2020  3        7      6        Sunday    187        5    9     0       winter  Morning          1
 2020-07-05 10:00:00  1593936000000  1744.364     578.641  334.800   1165.622    0.0         100.0            33.18            [1.2, 43.2, 0.0, None, None, None, None, 4.8, None, 1.2, 43.2, -1.2, 28.8, None, 0.0, 228.8, 1165.6, 349.8, None, None, None, None, None, None, None, None, None, None]    [4.8, 10.8, 0.0, None, None, None, None, 2.5, None, 1.2, 9.6, 0.0, 54.8, None, 0.0, 797.5, 1264.8, 152.3, None, None, None, None, None, None, None, None, None, None]        [241.7, None, None]  [241.7, None, None]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  2020-07-05  2020  3        7      6        Sunday    187        5    10    0       winter  Morning          1
 2020-07-05 11:00:00  1593939600000  1753.749     621.163  334.800   1132.585    0.0         100.0            35.42            [1.5, 43.2, 0.0, None, None, None, None, 6.0, None, 1.2, 43.2, -1.2, 46.3, None, 0.0, 244.1, 1132.6, 377.3, None, None, None, None, None, None, None, None, None, None]    [6.3, 10.5, 0.0, None, None, None, None, 3.0, None, 1.2, 9.6, 0.0, 75.4, None, 0.0, 814.9, 1211.1, 180.0, None, None, None, None, None, None, None, None, None, None]        [241.6, None, None]  [241.6, None, None]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  2020-07-05  2020  3        7      6        Sunday    187        5    11    0       winter  Morning          1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ..
 2020-10-24 14:00:00  1603540800000  2109.249     857.849  1701.576  1251.400    0.0         100.0            40.67            [1.5, 43.2, -0.4, None, None, None, None, 5.9, None, 1.0, 43.2, -1.2, 287.4, None, 0.0, 476.8, 1251.4, 381.0, None, None, None, None, None, None, None, None, None, None]  [6.5, 10.8, 0.0, None, None, None, None, 3.0, None, 0.4, 9.6, 0.0, 376.3, None, 0.9, 1041.0, 971.0, 187.4, None, None, None, None, None, None, None, None, None, None]       [241.8, None, None]  [241.8, None, None]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  2020-10-24  2020  4        10     5        Saturday  298        24   14    0       winter  Noon             1
 2020-10-24 15:00:00  1603544400000  2040.253     827.369  1701.576  1212.884    0.0         100.0            40.55            [1.2, 43.0, -0.3, None, None, None, None, 4.8, None, 0.9, 43.2, -1.2, 272.9, None, 0.0, 462.0, 1212.9, 365.6, None, None, None, None, None, None, None, None, None, None]  [4.9, 10.1, 0.0, None, None, None, None, 2.4, None, 0.2, 9.6, 0.0, 364.7, None, 1.1, 1039.0, 907.8, 182.6, None, None, None, None, None, None, None, None, None, None]       [241.1, None, None]  [241.1, None, None]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  2020-10-24  2020  4        10     5        Saturday  298        24   15    0       winter  Noon             1
 2020-10-24 16:00:00  1603548000000  2135.224     835.329  1701.576  1299.794    0.0         100.0            39.13            [1.5, 42.0, -0.4, None, None, None, None, 5.8, None, 1.1, 42.3, -1.2, 277.8, None, 0.0, 460.2, 1299.8, 375.3, None, None, None, None, None, None, None, None, None, None]  [6.2, 9.6, 0.0, None, None, None, None, 3.1, None, 0.1, 9.4, 0.0, 354.5, None, 0.7, 1021.7, 994.3, 181.5, None, None, None, None, None, None, None, None, None, None]        [238.9, None, None]  [238.9, None, None]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  2020-10-24  2020  4        10     5        Saturday  298        24   16    0       winter  Noon             1
 2020-10-24 17:00:00  1603551600000  2124.973     748.697  1701.576  1376.575    0.0         100.0            35.22            [1.2, 42.0, -0.2, None, None, None, None, 4.8, None, 0.6, 42.0, -1.2, 210.1, None, 0.0, 389.1, 1376.6, 359.9, None, None, None, None, None, None, None, None, None, None]  [4.8, 9.6, 0.0, None, None, None, None, 2.4, None, 0.3, 9.0, 0.0, 258.6, None, 0.2, 934.8, 1109.2, 176.9, None, None, None, None, None, None, None, None, None, None]        [238.0, None, None]  [238.0, None, None]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  2020-10-24  2020  4        10     5        Saturday  298        24   17    0       winter  Evening          1
 2020-03-16 05:00:00  1584327600000  536.967      0.000    0.000     536.967     0.0         0.0              0.00             [1.2, 43.3, 0.0, None, None, 376.8, 1184.8, 4.8, None, 1.2, 43.3, -1.2, 269.5, 537.0, 0.0, None, None, None, None, None, None, None, None, None, None, None, None, None]   [5.5, 10.3, 0.0, None, None, 134.6, 1289.4, 2.6, None, 0.0, 9.8, 0.0, 386.0, 1328.6, 1.2, None, None, None, None, None, None, None, None, None, None, None, None, None]      [241.7, None, None]  [241.7, None, None]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  [[], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]  2020-03-16  2020  1        3      0        Monday    76         16   5     0       winter  Early Morning    1
 Length: 7968, dtype: int64)

In [127]:
df_hourly['Public_Holiday'] = df_hourly['dateOnly'].map(mapping)

In [128]:
df_hourly['Public_Holiday']=df_hourly['Public_Holiday'].apply(lambda x:np.NaN if isinstance(x, str) and (x.isspace() or not x) else x).replace(np.NaN,'Non_Holiday')

In [129]:
df_hourly.sample(5)

                    date      timestamp  ...    day_section  Public_Holiday
657  2020-04-12 03:00:00  1586653200000  ...     Late Night   Easter Sunday
5677 2020-11-08 04:00:00  1604800800000  ...     Late Night     Non_Holiday
4274 2020-09-10 17:00:00  1599750000000  ...        Evening     Non_Holiday
1518 2020-05-18 00:00:00  1589752800000  ...     Late Night     Non_Holiday
4745 2020-09-30 08:00:00  1601445600000  ...  Early Morning     Non_Holiday

[5 rows x 28 columns]

In [130]:
df_hourly['Public_Holiday'].unique()

array(['Non_Holiday', 'Good Friday', 'Holy Saturday', 'Easter Sunday',
       'Easter Monday', 'Independence Day', "Worker's Day", 'Africa Day',
       "Heroes' Day", 'Zimbabwe Defence Forces Day', 'National Unity Day',
       'Christmas Day', 'Boxing Day', "New Year's Day"], dtype=object)

In [131]:
df_hourly=df_hourly[['date','timestamp','year','quarter','month','dayofyear','day','day_name','hour','minute','season','day_section','Public_Holiday','consumption','solar','alwaysOn','gridImport','gridExport','selfConsumption','selfSufficiency','active','reactive','voltages','phaseVoltages','currentHarmonics','voltageHarmonics']]

DAILY WRANGLING

In [144]:
print(do_data_information(df_daily))

--------------------------------------------------------------------
First rows
        date  ...                                   voltageHarmonics
0 2020-03-15  ...  [[], [], [], [], [], [], [], [], [], [], [], [...
1 2020-03-16  ...  [[], [], [], [], [], [], [], [], [], [], [], [...
2 2020-03-17  ...  [[], [], [], [], [], [], [], [], [], [], [], [...
3 2020-03-18  ...  [[], [], [], [], [], [], [], [], [], [], [], [...
4 2020-03-19  ...  [[], [], [], [], [], [], [], [], [], [], [], [...

[5 rows x 26 columns]
--------------------------------------------------------------------
Dimension of the data
This data has 335 rows and 26 variables
None

In [145]:
print(check_missing_values_table(df_daily))

Your selected dataframe has 26 columns.
There are 0 columns that have missing values.
Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [146]:
print(do_nunique_value(df_daily))

The Numver of unique values per columns are as follows
                  nunique
date                  335
timestamp             335
year                    2
quarter                 4
month                  12
dayofyear             335
day                    31
day_name                7
hour                    1
minute                  1
season                  4
day_section             1
Public_Holiday         14
consumption           335
solar                 333
alwaysOn              333
gridImport            335
gridExport              1
selfConsumption         2
selfSufficiency       310
active                335
reactive              335
voltages               95
phaseVoltages          95
currentHarmonics        1
voltageHarmonics        1
None

In [147]:
#Feature Engineering
df_daily=do_datepart_extraction(df_daily)

In [138]:
df_daily.date.min(),df_daily.date.max()

(Timestamp('2020-03-15 00:00:00'), Timestamp('2021-02-12 00:00:00'))

In [139]:
df_daily.consumption.min(),df_daily.consumption.max()

(3482.0, 122179.38)

In [140]:
df_daily[df_daily.consumption==0].value_counts().count(),df_daily[df_daily.consumption==0].value_counts()

(0, Series([], dtype: int64))

In [141]:
df_daily['Public_Holiday'] =df_daily['dateOnly'].map(mapping)

In [142]:
df_daily['Public_Holiday']=df_daily['Public_Holiday'].apply(lambda x:np.NaN if isinstance(x, str) and (x.isspace() or not x) else x).replace(np.NaN,'Non_Holiday')

In [143]:
df_daily=df_daily[['date','timestamp','year','quarter','month','dayofyear','day','day_name','hour','minute','season','day_section','Public_Holiday','consumption','solar','alwaysOn','gridImport','gridExport','selfConsumption','selfSufficiency','active','reactive','voltages','phaseVoltages','currentHarmonics','voltageHarmonics']]

MonthLy Wrangling

In [148]:
print(do_data_information(df_monthly))

--------------------------------------------------------------------
First rows
         date  ...                                   voltageHarmonics
0  2020-03-01  ...  [[], [], [], [], [], [], [], [], [], [], [], [...
1  2020-04-01  ...  [[], [], [], [], [], [], [], [], [], [], [], [...
2  2020-05-01  ...  [[], [], [], [], [], [], [], [], [], [], [], [...
3  2020-06-01  ...  [[], [], [], [], [], [], [], [], [], [], [], [...
4  2020-07-01  ...  [[], [], [], [], [], [], [], [], [], [], [], [...

[5 rows x 15 columns]
--------------------------------------------------------------------
Dimension of the data
This data has 12 rows and 15 variables
None

In [149]:
print(check_missing_values_table(df_monthly))

Your selected dataframe has 15 columns.
There are 0 columns that have missing values.
Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [150]:
print(do_nunique_value(df_monthly))

The Numver of unique values per columns are as follows
                  nunique
date                   12
timestamp              12
consumption            12
solar                  12
alwaysOn               12
gridImport             12
gridExport              1
selfConsumption         1
selfSufficiency        12
active                 12
reactive               12
voltages               10
phaseVoltages          10
currentHarmonics        1
voltageHarmonics        1
None

In [151]:
#Feature Engineering
df_monthly=do_datepart_extraction(df_monthly)

In [152]:
df_monthly.date.min(),df_monthly.date.max()

(Timestamp('2020-03-01 00:00:00'), Timestamp('2021-02-01 00:00:00'))

In [153]:
df_monthly.consumption.min(),df_monthly.consumption.max()

(928220.438, 2535679.307)

In [154]:
#checking for days where there weere no consumptions
df_monthly[df_daily.consumption==0].value_counts().count(),df_monthly[df_monthly.consumption==0].value_counts()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

(0, Series([], dtype: int64))

In [155]:
df_monthly['Public_Holiday'] =df_monthly['dateOnly'].map(mapping)

In [156]:
df_monthly['Public_Holiday']=df_monthly['Public_Holiday'].apply(lambda x:np.NaN if isinstance(x, str) and (x.isspace() or not x) else x).replace(np.NaN,'Non_Holiday')

In [157]:
df_monthly=df_monthly[['date','timestamp','year','quarter','month','dayofyear','day','day_name','hour','minute','season','day_section','Public_Holiday','consumption','solar','alwaysOn','gridImport','gridExport','selfConsumption','selfSufficiency','active','reactive','voltages','phaseVoltages','currentHarmonics','voltageHarmonics']]

In [158]:
#to CSV
df_5min.to_csv('NeedEnergyAPI_5min.csv',index=False)
df_hourly.to_csv('NeedEnergyAPI_hourly.csv',index=False)
df_daily.to_csv('NeedEnergyAPI_daily.csv',index=False)
df_monthly.to_csv('NeedEnergyAPI_monthly.csv',index=False)

#DATA QUALITY CHECK:
*Data summary:
* Raw_NeedEnergyApi_5min :
Raw_Records: 95649 with 15 columns
Cleaned(Current) :95649,

* Raw_NeedEnergyApi_hourly :
Raw_Record :7979 with 15 columns
Cleaned(Current) :7979,
* Raw_NeedEnergyApi_Daily :
Raw_Records: 335 with 15 columns
Cleaned (current):335
* Raw_NeedEnergyApi_Monthly :
Raw_records:12 with 15 columns
cleaned =12
* BASED ON THE FOLLOWING QUALITY DIMENSIONS:(ACCURACY,COMPELETENESS,VALUES FREE FROM CONTRADICTION)
THE NEEDENERGY API 5MIN,HOURLY,DAILTY,MONTHLY DATASET has zero missing values.More data required for predictive analysis,

## Feature Engineering:
More features were extracted and created from the date column feature:
* New features Generated :day,hour,month,year,day_name,
seasons(winter,autumn,spring),day sections(Night,Evening,Afternoon)

* Others:Jupyter starter files for 
Generalized Helper functions were created to generate seasons,day_sections,day,month,year,hour,quarter,were created for use for anyone willing to start-up cleaning or other task activities

* In-Progress Helper function
Public-holiday and many more for solar-iiradiance dataset.